<%-- $Id$ --%>
			<table width='100%' cellspacing="0" cellpadding="0" border="0">
				<tr id='orgTab1' class='show'>
					<td class="sideBarHdr">
						<input type='button' class='collapse' onclick="expandCollapse('_RmTab', 'rmImg')" id='rmImg'>
						<a href="javascript:expandCollapse('_RmTab', 'rmImg')">Recently Removed Columns</a>
					</td>
				</tr>
				<tr class='hide' id='_RmTab'>
					<td nowrap align='center'>
						<br><input type='button' class='warning'>Not Yet Implemented<br><br>
					</td>
				</tr>
				<tr id='orgTab2' class='show'>
					<td class="sideBarHdr">
						<input type='button' class='expand' onclick="expandCollapse('_AvlTab', 'avlImg')" id='avlImg'>
						<a href="javascript:expandCollapse('_AvlTab', 'avlImg')">Available Columns</a>
					</td>
				</tr>
				<tr id='_AvlTab' class='show'>
					<td nowrap class="toolbarBg">Columns By Table :
						<form name="tableColumnFetch">
							<select id='groupSearch' name="TableName" class="selectStyle" onchange="fetchColumnsForTable(this.value)">
								<option value="*">All</option>
							</select>
						</form>
						<div id="availableViews" class='availableColumns'></div>
						<script>
							constructSelectColumnViews('groupSearch');
						</script>
					</td>
				</tr>
				<tr class='show' id='views'>
					<td id="selectColumnViews">
					</td>
				</tr>
				<tr id='dummyTab1' class='hide'>
					<td class="sideBarHdr">
						<input type='button' class='collapse'onClick="expandCollapse('_RmTab', 'rmImg')">
						<a href="javascript:expandCollapse('_RmTab', 'rmImg')">Recently Removed Columns</a> 
					</td>
				</tr>
				<tr id='dummyTab2' class='hide'>
					<td class="sideBarHdr">
						<input type='button' class='collapse' onclick="expandCollapse('_AvlTab', 'avlImg')">
						<a href="javascript:expandCollapse('_AvlTab', 'avlImg')">Available Columns</a>
					</td>
				</tr>
				<%
				if(!"Table".equals(layoutType)){
					%>
				<tr id='orgTab4' class='show'>
					<td class="sideBarHdr">
						<input type='button' class='collapse' onclick="expandCollapse('_SearchTab', 'srcImg')" id='srcImg'>
						<a href="javascript:expandCollapse('_SearchTab', 'srcImg')">Create New Labels / FieldName</a>
					</td>
				</tr>
				<tr id='_SearchTab' class='hide'>
					<td align="center" nowrap valign='middle'>
						<br>
						<form name='newViewForm' target="newViewFrame">
						Label: <input id="newViewText" name="newViewText" value=''> 
						<button class="btn"> Create </button>
						<br>
						<div id="newViewPH"></div>
						</form>
						<iframe src="about:blank" onLoad="createLabel('FieldName')" style="display:none" name="newViewFrame"></iframe>
					</td>
				</tr>
				<%
				}
				%>
			</table>
