<!-- $Id$ -->
<div id="movableDiv" class='hide' style="width:175px;background-color:transparent; position: absolute; cursor: default;filter:alpha(opacity=65);-moz-opacity:0.6;opacity: 0.6;">
	<table cellspacing='0' cellpadding='0' width='175px'>
		<tr>
			<td class="smContent" id='movableDivContent'></td>
		</tr>
	</table>
</div>		

<DIV id='GridView' class='hide'>
	<TABLE border='0' cellpadding='0' cellspacing='0' width='100%' onMouseOver='enableViewSelection(document.getElementById("_ev$ID"))'>
		<TR>
			<td colspan="2">
				<div id="_indicator1$ID" style="float:left;position:relative;top:-2;width:100%;height:2px;padding:0px;border:1px solid #000000;background:#FEFDD2;text-align:center;vertical-align:middle;" class='hide'></div>
			</td>
		</TR>	
		<TR>
			<td colspan='2' class="wkContent1" id='_ev$ID' nowrap viewId = '$ID' onMouseDown="startDrag(event, '_ev$ID')" viewName='$VN' title='$TITLE' desc='$DESC'><input name="Button" type="button" class="wkDragPipe" value=" " style='cursor:move'><span id="dispName$TITLE">$DISPLAYNAME</span></td>
     		<td width='20px'class="wkContentEditEnd"><input id="$TITLE" value="E" name="Submit" type="button" class="closeButton" onClick='showColumnPropertiesInUI("$TITLE",false); onfocusElem=this;'></td>
		</tr>
	</table>	
</DIV>

<div id="Testing"></div>

<DIV id='EditMode' class='hide'>
	<TABLE width='100%' border='0' align="center" cellpadding='0' cellspacing='0' class='resizeView'>
		<TR>
			<TD>&nbsp;</td>
			<TD align="center" nowrap>$TOPIMAGES</TD>
			<TD>&nbsp;</TD>
		</TR>	
		<TR>
			<TD width='1px'>$LEFTIMAGES</TD>
			<TD align='center' height='$HEIGHTpx'>$IPTITLE<br><a href="javascript:disableEdit();" class="resizeClose">[Close]</a></TD>
			<TD width='1px' align="right">$RIGHTIMAGES</TD>
		</TR>
		<TR>
			<TD>&nbsp;</td>
			<TD align="center" nowrap>$BOTTOMIMAGES</TD>
			<TD>&nbsp;</TD>
		</TR>	
	</TABLE>
</DIV>

<DIV id='PlacedView' class='hide'>
	<TABLE border='0' cellpadding='0' cellspacing='0' width='100%' onMouseOver='enableViewSelection(document.getElementById("_ev$ID"))'>
		<TR>
			<td colspan="2">
				<div id="_indicator1$ID" style="float:left;position:relative;top:-2;width:100%;height:2px;padding:0px;border:1px solid #000000;background:#FEFDD2;text-align:center;vertical-align:middle;" class='hide'></div>
			</td>
		</TR>	
		<TR>
			<td class="wkContent1 $CLASSStart" id='_ev$ID' nowrap viewId = '$ID' onMouseDown="$METHOD;startDrag(event, '_ev$ID')" viewName='$VN' title='$TITLE' desc='$DESC'><input name="Button" type="button" class="wkDragPipe" value="" style='cursor:move'><input name="Submit" type="button" id="$VN_R" class="hide" value="" onClick='return enableEdit($ID)'><span id="$VN_ICON_PH">$ICON</span><span id="$VN_PREFIX_TEXT_PH">$PT</span><span id="$VN_DISPLAYNAME_PH">$TITLE</span><span id="$VN_SUFFIX_TEXT_PH">$ST</span><span id="$VN_SUFFIX_ICON_PH">$SI</span>
			<td width='20px' class="wkContentEdit $CLASSEnd"><input type="button" class="closeButton" onClick='removeView($ID, true)' value=""></td>
		</tr>
	</table>	
</DIV>

<DIV id='SingleColumnView' class='hide'>
	<TABLE border='0' cellpadding='0' cellspacing='0' width='100%' onMouseOver='enableViewSelection(document.getElementById("_ev$ID"))'>
		<TR>
			<td colspan="2">
				<div id="_indicator1$ID" style="float:left;position:relative;top:-2;width:100%;height:2px;padding:0px;border:1px solid #000000;background:#FEFDD2;text-align:center;vertical-align:middle;" class='hide'></div>
			</td>
		</TR>	
		<TR>
			<td class="wkContent1 $CLASSStart" id='_ev$ID' nowrap viewId = '$ID' onMouseDown="$METHOD;startDrag(event, '_ev$ID')" viewName='$VN' title='$TITLE' desc='$DESC'><input name="Button" type="button" class="wkDragPipe" value=" " style='cursor:move'><span id="$VN_ICON_PH">$ICON</span><span id="$VN_PREFIX_TEXT_PH">$PT</span><span id="$VN_DISPLAYNAME_PH">$TITLE</span><span id="$VN_SUFFIX_TEXT_PH">$ST</span><span id="$VN_SUFFIX_ICON_PH">$SI</span></td>
     		<td width='20px'class="wkContentEdit $CLASSEnd"><input type="button" class="closeButton" onClick='removeView($ID, true)' value=" "></td>
		</tr>
	</table>	
</DIV>

<DIV id='DummyView' class='hide'>
	<TABLE border='0' cellpadding='3' class='emptyCell' cellspacing='0' width='100%' onMouseOver='invokeMethod("enableViewSelection",document.getElementById("_ev$ID_dv"))'>
		<TR><TD  height='$HEIGHTpx' id='_ev$ID_dv' rowIndex='$RID' colIndex='$CID' viewId = '$ID' align="center" viewName='$VN' title='$TITLE' desc='$DESC'>(Empty Cell)</TD></TR>
	</TABLE>	
</DIV>
<DIV id='EndDummyView' class='hide'>
	<TABLE border='0' cellpadding='3' class='emptyCellEnd' cellspacing='0' width='100%' onMouseOver='invokeMethod("enableViewSelection",document.getElementById("_ev$ID_dv"))'>
		<TR><TD  height='$HEIGHTpx' id='_ev$ID_dv' rowIndex='$RID' colIndex='$CID' viewId = '$ID' align="center" viewName='$VN' title='$TITLE' desc='$DESC'>&nbsp;</TD></TR>
	</TABLE>	
</DIV>


<DIV id="RemovedGridView" class="hide">
</DIV>
