
body {
    display: block;
    margin: 0px;
}


#login_success{
    color: forestgreen;
}
#login_failure{
    color: red;
}

#main-text{
    padding: 15px;
    float: left;
    font-size: x-large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#main-text:hover{
    cursor: hand;
    cursor: pointer;
}

#welcome-text{
    font-size: small;
    color: #2196F3;
    float: right;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#logout{
    padding: 15px;
    font-size: small;
    color: red;
    float: right;
    font-family: "Lucida Console", Monaco, monospace;
}
#logout:hover{
    cursor:hand;
    cursor:pointer;
    font-size: medium;
}


.account {
    width: 300px;
    padding: 30px 20px;
    background: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.homepage {
	width:100%;
	float:left;
}

.header{
	background-color: white;
	height:10%;
    display: block;
}

.body{
	display: inline-flex;
	width: 100%;
}

.menu{
	float: left;
	width: 15%;
    background-color: white;
    border-right: 1px solid #e7e7e7;
}

.content{
	float: right;
	width:85%;
    border-top: 1px solid #e7e7e7;
}

#card{
    background-color: #efbd1b;
    color: black;
    padding: 6px 15px;
    font-family: Tahoma;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#acc_no_login,#pin_no_login,#name {
    display: block;
    margin: 0 auto;
    width: 80%;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    padding: 3px;
}

#login,#signup {
    margin-top: 25px;
    width: 80%;
    border: 0;
    background-color: #53CACE;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 20px;
}

.menu-top-bar{
    padding: 10px;
    background-color: #e7e7e7;
    font-size: x-large;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu-item{
    background-color: #efbd1b;
    height: 15px;
    margin: 5px;
    padding: 20px;
    font-family: Tahoma;
    border-radius: 3px;
}
.menu-item:hover{
    margin-left: 0px;
    margin-right: 0px;
    cursor: hand;
    cursor: pointer;
}
.menu-item-selected{
    background-color: #efbd1b;
    height: 15px;
    margin: 5px;
    padding: 20px;
    margin-right: 0px;
    border-radius: 5px 0px 0px 5px;
    font-family: Tahoma;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid green;
}


.content-topbar{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px;
    font-size: x-large;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}
#content-name{
    color: #2196F3;
    vertical-align: middle;
}

#account-summary-main-area{
    padding: 15px;
    float: left;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#deposit{
    display: none;
    }
#withdraw{
    display: none;
}
#cheque{
    display: none;
}
#beneficiary{
    align-content: stretch;
    display: none;
}
#transfer{
    display: none;
}
#mini-statement{
    display: none;
}

tr{
    width: 75%;
	height: 25px;
    padding: 10px;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
tr:nth-child(odd) { background-color: white ;
                    padding: 10px; }
tr:nth-child(even) { background: #e7e7e7; 
                     padding: 10px; }

th{
    background-color: #2196F3;
    color: white;
    padding: 10px;
    font-size: large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.successfull-entry{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 3px;
    display: none;
}
.success-message{
    color: forestgreen;
    font-size: x-large;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.text-box{
	width: 98%;
	height: 35px;
	padding: 0px 0px 0px 5px;
    border: 1px solid #e7e7e7;
    font-size: large;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.submit-button{
	width: 100%;
	margin: 1px;
	padding: 10px;
    border: 2px;
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    text-align: center;
}
.submit-button:hover{
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.buttons{
	display:inline-flex;
	margin-bottom: 2px;
}
.download-button{
	margin: 2px;
	padding: 4px;
    border: 1px;
    background-color: #ee1113;
    border-radius: 2px;
	font-size: small;
    color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

.label-text{
    color: #2196F3;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#beneficiary-block{
    margin: 10px auto;
    width: 75%;
    display: block;
}
#beneficiary-tab{
	display: inline-flex;
}
#add-inbnak-ben, #add-otherbank-ben, #show-inbank-ben, #show-otherbank-ben{
}

.tab-menu{
	font-size: medium;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
	border-style: solid;
    border-width: 0px 0px 1px 0px;
}
.tab-menu:hover{
	cursor: hand;
    cursor: pointer;
}
.tab-clicked{
	font-size: medium;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px;
	border-color: red;
	border-style: solid;
    border-width: 0px 0px 3px 0px;
}
#inbank-block{
	margin: 10px auto;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
#otherbank-block{
	display: none;
	margin: 10px auto;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
#inbank-mc-block, #otherbank-mc-block{
	 margin: 15px auto;
	 display: none;
	 width: 100%;
}
	
#deposit-form,#withdraw-form, #cheque-form, #transfer-form{
    margin: 10px auto;
    padding: 10px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#mini-statement-table{
    margin: 10px auto;
    width: 75%;
    display: block;
}
#table1{
    width: 100%;
    margin-top: 15px;
}


select{
    width: 100%;
    padding: 10px;
	margin-bottom: 10px;
}

#prev{
    float: left;
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 10%;
    border: 0px;
    display: none;
}
#next{
    float: right;
    background-color: #2196F3;
    border-radius: 2px;
    color: white;
    text-align: center;
    padding: 10px;
    width: 10%;
    border: 0px;
    display: none;
}

#transaction-count-tag{
	display: none;
	border-radius: 3px;
	background-color: #80ff00;
    margin: 0px 0px 5px 0px;
}

#otherbank-transactions-cv, #inbank-transactions-cv, #cheque-transactions-cv, #withdrawanddeposit-cv{
	width: 100%;
	display: none;
}
.cv{
	display: block;
}


.profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 10px auto;
    width:25%;
    border-radius: 5px;
}

.profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

