body {
  font-family : "Trebuchet MS",
                Helvetica,
                sans-serif;
}

.btn.btn-info:disabled {
  color        : black;
  border-color : #f2f2f2;
  background   : linear-gradient(180deg, #979797, white);
}

a.btn.btn-info[disabled="disabled"] {
  color        : black;
  border-color : #f2f2f2;
  background   : linear-gradient(180deg, #979797, white);
}

.modal-content {
  -webkit-border-radius : 0;
}

.modal-message .modal-dialog {
  width : 300px;
}

.modal-message .modal-body,
.modal-message .modal-footer,
.modal-message .modal-header,
.modal-message .modal-title {
  border     : none;
  background : 0 0;
}

.modal-message .modal-title {
  margin-bottom : 3px;
  color         : #737373;
  font-size     : 17px;
}

.modal-message .modal-body {
  color : #737373;
}

.modal-message .modal-header {
  margin-bottom : 10px;
  padding       : 15px 0 8px;
  color         : #fff;
}

.modal-message .modal-header .fa,
.modal-message .modal-header .glyphicon,
.modal-message .modal-header .typcn,
.modal-message .modal-header .wi {
  font-size : 30px;
}

.modal-message .modal-footer {
  margin         : 25px 0 20px;
  padding-bottom : 10px;
}

.modal-backdrop.in {
  zoom   : 1;
  filter : alpha(opacity=75);
}

.modal-backdrop {
  background-color : #fff;
}

.modal-message.modal-success .modal-header {
  color         : #53a93f;
  border-bottom : 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
  color         : #57b5e3;
  border-bottom : 3px solid #57b5e3;
}

.modal-message.modal-danger .modal-header {
  color         : #d73d32;
  border-bottom : 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
  color         : #f4b400;
  border-bottom : 3px solid #ffce55;
}

.alert-message {
  margin      : 20px 0;
  padding     : 20px;
  border-left : 3px solid #eee;
}

.alert-message h4 {
  margin-top    : 0;
  margin-bottom : 5px;
}

.alert-message p:last-child {
  margin-bottom : 0;
}

.alert-message code {
  border-radius    : 3px;
  background-color : #fff;
}

.alert-message-success {
  border-color     : #3C763D;
  background-color : #F4FDF0;
}

.alert-message-success h4 {
  color : #3C763D;
}

.alert-message-danger {
  border-color     : #d9534f;
  background-color : #fdf7f7;
}

.alert-message-danger h4 {
  color : #d9534f;
}

.alert-message-warning {
  border-color     : #f0ad4e;
  background-color : #fcf8f2;
}

.alert-message-warning h4 {
  color : #f0ad4e;
}

.alert-message-info {
  border-color     : #5bc0de;
  background-color : #f4f8fa;
}

.alert-message-info h4 {
  color : #5bc0de;
}

.alert-message-default {
  border-color     : #B4B4B4;
  background-color : #EEE;
}

.alert-message-default h4 {
  color : #000;
}

.alert-message-notice {
  border-color     : #BDBD89;
  background-color : #FCFCDD;
}

.alert-message-notice h4 {
  color : #444;
}

.form-group.required .control-label:after {
  content : "*";
  color   : red;
}

input[required]:invalid {
  box-shadow : 0 0 3px 1px #e46f61;
}

textarea[required]:invalid {
  box-shadow : 0 0 3px 1px #e46f61;
}

.table td,
.table th {
  border : 0 !important ;
  vertical-align: middle;

}

:hov

.cls

element.style {
    display: none;
}

#blockDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:.65;
    background-color:white;
    z-index: 1000;
}

#blockTxt {
    position: fixed;
    top: 50%;
    left: 40%;
    width: 20%;
    height: 20%;
    opacity:1;
    background-color:white;
    font-weight: 900;
    font-size: 120%;
}

#Exectime{
	text-align:right;
	color:#31809F;
	font-size: 140%;
}
