/* $Id$ */
/* To be Moved to General.css and rename it as .hide*/

.hideBoxContent{
background-color: #F7F7F4; width:100%;

}

.hideBoxContent div, .box_hide {
  display: none;
}

.NavigationBox, .PrimaryBox, .SecondaryBox {
	width: 100%;
	border: 0px;
	padding:0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.SecondaryBox{
	border-left: 1px solid #DDDDCD;
	border-right: 1px solid #DDDDCD;
	border-bottom: 1px solid #DDDDCD;
}


.boxHeader, .boxCtrlButtonPane {
  background: #F2F2ED url(../images/box_navbg.gif) repeat-x;
  text-align: Left;
  font: 11px  Verdana, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px;
  white-space:nowrap;
  height:24px;

}

.PrimaryBox .boxHeader, .PrimaryBox .boxCTRLButtonPane {
	background: #F2F2ED url(../images/box_bg.gif) repeat-x;
      height:24px;

}
.PrimaryBox .boxHeader {
	width:100%;
}

.boxCtrlButtonPane {
	text-align:left;
}

/*Box Border Styles*/

.boxTL, .boxTR {
      text-align: Left;
	width:15px;
      height:24px;
}

.boxTL {
	background: url(../images/topLeft.gif) no-repeat left top;
  	padding-right: 0px;
}

.boxTR  {
	background: url(../images/topRight.gif) no-repeat right top;
	padding-left:0px;
}

.boxBL, .boxBC, .boxBR {
	 height: 15px;
}
.boxBL {
  	background: url(../images/bottomLeft.gif) no-repeat left bottom;
  	width:25px;
}

.boxBR {
	background: url(../images/bottomRight.gif) no-repeat right bottom;
  	width:10px;
}
.boxBC {
  	background: url(../images/bottomBg.gif) repeat-x;
}

.boxML, .boxMR {
	height:100%;
}

.boxML {
	background: url(../images/boxmiddleleft.gif) repeat-y ;
}

.boxMR {
background: url(../images/boxmiddleright.gif) repeat-y ;
}
/* Control Button Styles */
.minButton, .maxButton {
	border: 0px;
	padding: 0px;
	height: 16px;
	width: 16px;
	margin: 0px;
}

.maxButton {
	background: url(../images/arrow_down.png) no-repeat center;
}

.NavigationBox .maxButton {
	background: url(../images/arrow_nbright.gif) no-repeat center;
}

.minButton {
	background: url(../images/arrow_up.png) no-repeat center;
}
.NavigationBox .minButton {
	background: url(../images/arrow_nbdown.gif) no-repeat center;
}

.alignButtons {
    width: 80%;
	marign:0px;
	padding: 0px

}

TABLE.alignButtons TD {
	marign: 0px;
	padding: 0px
	height: 100%;
}

.Box .boxContent{
	border-left: 1px solid #DDDDCD;
	border-right: 1px solid #DDDDCD;
	border-bottom: 1px solid #DDDDCD;
}
/* Box Content */
.boxContent {
	align: center;
	valign: top;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	width:100%;
}

.PrimaryBox .boxContent {
	Background-color: #F7F7F4;
	width:100%;
}

.Island .boxContent {
	border:0px;
}
/* Changed */
.boxLayout {
	margin: 0px;
	border: 0px;
	width: 100%;
border: 1px solid #000;
}

#HomeSideBar_CT {
	height: 100%;
	padding: 5px;
	margin: 0px;
}

#BusinessViewsVer_CT .evenRow, #InfrastructureViewsVer_CT .evenRow{
	background-color: #FFFFFF;
}

#HomeSideBar_CT .oddRow, #HomeSideBar_CT .evenRow {
	background-color: #FFFFFF;
}

#BusinessViewsVer_CT TABLE, #InfrastructureViewsVer_CT TABLE{
	width:100%;
	height: 50px;
}

/* New Styles*/

.leftBg {
	background-color: #F8F8F3;
	padding: 5px;
}

.Box, .Island, .Bridge, .Vertical{
	width:100%;
	border:0px solid #FFFFFF;
	padding:0px;	
	border-spacing:0px;	
	margin-left: auto;
	margin-right: auto;
}

.NavigationBox .evenRow, .NavigationBox .oddRow {
      padding-left:8px;
	background-color: #F7F7F4;
}

.NavigationBox a:link, .NavigationBox a:visited {
      color:#000;
      text-decoration: underline;
}

