/* $Id$ */
.bodyText, .titleText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	
.titleText {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.bodyText {
	font-size: 11px;
	font-weight: bold;
}

select {
	width: 125px;
}

moveUP, .moveDown, .add, .addAll, .remove,.removeAll {
	border-top: 1px solid #E8E8E8;
	border-right: 1px solid #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
	border-left: 1px solid #E8E8E8;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.moveUP{
	background: #DDDDCD url(../images/columnchooser/moveUp.gif) no-repeat center center;
}

.moveDown {
	background: #DDDDCD url(../images/columnchooser/moveDown.gif) no-repeat center center;
}

.add {
	background: #DDDDCD url(../images/columnchooser/add.gif) no-repeat center center;
}

.addAll {
	background: #DDDDCD url(../images/columnchooser/addAll.gif) no-repeat center center;
}

.remove {
	background: #DDDDCD url(../images/columnchooser/remove.gif) no-repeat center center;
}

.removeAll {
	background: #DDDDCD url(../images/columnchooser/removeAll.gif) no-repeat center center;
}

