/* $Id$ */
body {
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
}

.productLogo, .productTabs {
	width: 100%;
                color: #FFFFFF;
	padding: 0px;
	border-spacing: 0px;
	border-collapse:collapse;
                background-image: url(../images/topBg.gif);
	background-repeat: repeat;

  }

.productTabs TD{
	padding:0px;
}

.productSearch {
	white-space:nowrap;
}


.topLinks a:link, a:visited {
	color: #FFFFFF;
                font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Helvetica, sans-serif;
}

img {
	border: 0px;
	vertical-align: middle;
	margin: 0px;
}

.dacTable {
	width:100%;
	vertical-align:top;
	padding: 0px;
	border-spacing: 0px;
	border-collapse:collapse;
}

.navigationBar {
	padding: 0px;
	background:#F7F7F4;
	height:100%;
	border-right: 1px solid #E2E2D8;
}


