/* $Id$ */
.NavigationBar {
                font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
	height: 100px;
	display: block;
	background-color: E10000;
	color: #000000;
	text-decoration: none;
}


#.NavigationBox {
	background-color: #F7F7F4;
	border:1px;
	border-color: #333333;
}

.navigatorTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #9CA66D;
	width:100%;	
	padding-top:10px;
	marign-bottom: 0px;
}

TABLE.navigatorTable TR {
}

.navigatorDetailsColumn{
	vertical-align: middle;
}

.navigatorLinksColumn{
	vertical-align: middle;
	text-align: center;
}

.navigatorRangeColumn{
	vertical-align: middle;
}

TABLE.navigatorTable A:link {
	color: #000000;
	text-decoration: none;
}

TABLE.navigatorTable A:hover {
	text-decoration: underline;
}

TABLE.navigatorTable SPAN {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.firstButton, .previousButton, .nextButton, .lastButton {
	border:0px;
	padding:2px;
	width:20px;
	height:20px;
}
.firstButton {
	background: url(../images/first.gif) no-repeat center;
}
.previousButton {
	background: url(../images/previous.gif) no-repeat center;
}
.nextButton {
	background: url(../images/next.gif) no-repeat center;
}
.lastButton {
	background: url(../images/last.gif) no-repeat center;
}