/* $Id$ */
/* tab */

/* Normal Horizontal Tab with Text Links */
/* plaintab */

ul.plaintab {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	width:100%;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:17px;
	color: #000000;
	vertical-align: bottom;
	}
	
ul.plaintab li {
	float: left;
                margin-right: 0px;
	list-style: none;
	text-align: center;
	}

ul.plaintab a{
  float: left;
  color: #000000;
}
ul.plaintab li.notSelected {
	float: left;
	text-decoration:none;
      background: url(../images/inactiveleft.gif) no-repeat left top;
	padding-left:10px;
}

ul.plaintab li.notSelected a:link , ul.plaintab li.notSelected a:visited  {
      float: left;
	color: #000000;
	text-decoration:none;
      background: url(../images/inactive.gif) no-repeat right top;
	padding-right:20px;
}

ul.plaintab li.Selected {
	float: left;
	text-decoration:none;
      background: url(../images/notSelected.gif) no-repeat left top;
	padding-left:10px;
}

ul.plaintab li.selected a:link , ul.plaintab li.notSelected a:visited  {
	float: left;
	color: #000000;
	text-decoration:none;
	background: url(../images/selected.gif) no-repeat right top;
	padding-right:20px;
	}

ul.plaintab li.selected a {
	float: left;
	color: #FFFFFF;
	text-decoration:none;
	}

ul.plaintab a:hover {
	text-decoration: none;
	background: url(../images/selected.gif) no-repeat;	
	}


/* Newly Added */

.productTabs{
	border-bottom: 7px solid #EAA500;
}

ul.verticaltab{
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 11px;
		display: inline;
		letter-spacing: 0.05em;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #FFFFFF;
}

ul.verticaltab li {
        padding: 0px 0px 0px 0px;
        margin: 0;
        list-style: none;
}

ul.verticaltab a{ 
		display: block;
		text-decoration: none;
		color: #000000;
		padding: 4px 10px 4px 10px;
		background-color: #FFFFFF;
}

ul.verticaltab a.selected {
		text-decoration: none;
		font-weight: bold;
		color: #000000;
	}

ul.verticaltab a:hover {
		text-decoration: underline;
		color: #000000;
/*		background-color: #EAA500;*/
	}
/* List View */

.listViews {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
    width:100%;
	font-size: 11px;
    font-weight: bold; 
}
	
ul.listViews li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	}

ul.listViews li p{
	text-align: center;
	line-height: 30px;
}

ul.listViews a{
  float: left;
  color: #000099;
  padding: 4px 15px 2px 15px;
}
ul.listViews a.notSelected  {
	float: left;
	padding: 4px 15px 2px 15px;
	color: #000099;
 	background-repeat: repeat-x;
}
ul.listViews a.selected {
	float: left;
	padding: 4px 15px 2px 15px;
	color: #FFFFFF;
	background-repeat: repeat-x;
}

ul.listViews a:hover {
	text-decoration: underline;
}

