/* $Id$ */

/*************************  First Level Table Styles **************************/

.tableComponent {
	padding: 0px;
	width: 100%;
}

.headerTable {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 100%;
}

.tableComponent TH, .tableHeader {
	padding: 2px;
}

 .sortedTableHeader, .tableHeader {
	font-size: 11px;
	color: #000000;
}

.tableComponent A:link, .tableComponent A:visited, .columnChooser A:link, .columnChooser A:visited {
	font-weight: bold;
	color: #000000;
	text-align: left;
	text-decoration:none;
}

.sortedTableHeader A:link, .sortedTableHeader A:visited {
	text-decoration:none;
}

.tableHeader A:hover {
	text-decoration: underline;
}

.evenRow {
	background-color: #EEEEE8;
	padding: 3px;
}

.oddRow {
	background-color: #F7F7F4;
	padding: 3px;
}
.emptyRowMsg  {
	background-color: #FFFFFF;
}
.columnChooser {
	font-weight: bold;
	width:100%;
	height: 20px;
}

.sortButtonASC, .sortButtonDESC {
	border: 0px;
	padding: 1px;
	height: 20px;
	width: 20px;
}

.sortButtonASC {
	background: url(../images/arrow_up.png) no-repeat center;
}

.sortButtonDESC {
	background: url(../images/arrow_down.png) no-repeat center;
}

.tableLayout {
	width: 100%;
	padding: 0px;
	border: 0px;
	border-spacing: 4px;
}

