/* $Id$ */

/***************************  Html Element Styles ****************************/

BODY, TABLE, SPAN, DIV {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

BODY {
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
	color: #000000;
}

SELECT {
	width: 125px;
	font: normal 11px Verdana, Arial, Helvetica, Sans-serif;
}

IMG {
	border: 0px;
	vertical-align: middle;
	margin: 0px;
}

FORM {
	padding:0;
	margin:0;
}

/*
OPTION{
	padding: 2px;
	margin: 2px;
}
*/


INPUT {
	font: normal 11px Verdana, Arial, Helvetica, Sans-serif;
}

/****************************** Common Styles ********************************/

.hide {
	display: none;
}

/**************************** Specific Hidings ******************************/

#InfrastructureViews_CT TABLE TH, #BusinessViews_CT TABLE TH, #NetworkViews_CT TABLE TH , #InfrastructureViewsVer_CT TABLE TH, #BusinessViewsVer_CT TABLE TH , #TabCustomization_CT TABLE TH, #GridCustomization_CT TABLE TH, #TableLayoutCustomization_CT TABLE TH{
	display: none;
}

/**************************** Customize Styles *******************************/

.customizeButton, .customizeButtonPull {
	border-top: 1px solid #FDC953;
	border-left: 1px solid #FDC953;
	border-right: 1px solid #FDC953;
	border-bottom: 1px solid #FDC953;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	height:15px;
	margin:0px;
	cursor: hand;
	cursor: pointer;
}

.customizeButton {
	background: url(../images/customizeBg.gif) repeat-x center;
}

.customizeButtonPull {
  background: url(../images/customizeDownBtn.gif) no-repeat center center;
	width:11px;
}

.showDivBorder{
	border: 1px solid #FFAE00;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
}
.divBorder{
	border: 0px none #FF0000;
	margin: 0px;
	padding-top: 2px;
}
.customize {
	width:100%;
}

/* -------------------------- Drop Down Menus ------------------------------- */

.customizeMenu {
	position:absolute;
	border-bottom: 1px solid #313E60;
	border-right: 1px solid #313E60;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	background-color: #E7E7CF;
	padding: 3;
	z-index: 10;
}

.customizeMenuItem,.customizeMenuItemOver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
	background-color: #E7E7CF;
	height: 20px;
	padding:2px;
	margin:2px;
	cursor: hand;
	cursor: pointer;
}
.customizeMenuItemOver {
	background-color: #FDC953;
}

/*-------------------------  BreadCrumbs -------------------------------------*/

.breadCrumbs img {
	        padding: 3px;
}

/* -------------------------- General -------------------- */

.hide { display:none;}


ajaxtable a:hover ,.ajaxtable a{
   text-decoration:none;
}
.ajaxtable a {
   background: url(../images/plus.gif) no-repeat left center;
   padding-left:15px;
}

.detailsShown .ajaxtable a {
   background: url(../images/minus.gif) no-repeat left center;
   padding-left:15px;
}










