/* $Id$ */
#OPM_Dashboard .minimizeButton, #OPM_Dashboard .maximizeButton, #HomeSideBar_CT .maximizeButton, #HomeSideBar_CT .minimizeButton, #Opmanager_CT .minimizeButton, #Opmanager_CT .maximizeButton {
	display: none;
}

/* Had to override the TABLE TH to hide the side bar table header */
#InfrastructureViews_CT TABLE TH, #BusinessViews_CT TABLE TH, #NetworkViews_CT TABLE TH , #InfrastructureViewsVer_CT TABLE TH, #BusinessViewsVer_CT TABLE TH{
	display: none;
}

input {
	border: 1px solid #cccccc;
	font: 11px;
	background: #ffffff;
}

