/* $Id$ */
/* Layout Related */
.logoLayer {
	height: 65;
	background-color: #066;
	text-align: center;
	vertical-align: middle;
	width: 205px;
}
.topLinkLayer {
	background-color: #066;
}
.topBorder {
	border-bottom: 1px solid #FFF;
}
.topBarLayer {
	background-color: #CC9;
	border-bottom: 1px solid #999;
	height: 20;
}
.menuLayer {
	background-color: #066;
	vertical-align: bottom;
}
.sideBarLayer {
	background: #FBFBF4;
	vertical-align: top;
}
.sideBarLayerOpera {
	background: #FBFBF4;
	vertical-align: top;
	border-right: 1px solid #E1E1C4;
}
.resizeLayerBorder {
	width: 3px;
	border-left: 1px solid #E1E1C4;
	border-right: 1px solid #D3D3AB;
}
.resizeLayer {
	width: auto;
	height: 100%;
	border-left: 1px solid #FFF;
	background: #E9E9D1;
}
.subMenuLayer {
	padding-left: 2;
	height: 20;
	background-color: #FBFBF4;
	border-bottom: 1px dotted #E1E1C4;
}
.mainLayer, .footerLayer {
	vertical-align: top;
	padding: 10;
	background-color: #FFF;
}

/* General */
BODY {
	margin: 0 0 0 0;
}

UL {
	margin: 0 0 2 5;
	padding: 0 0 2 5;
	list-style: none;
}

LI {
	background:  url(/crm/images/bullet.gif) no-repeat left center;
	padding: 1 0 1 12;
}

.bodyText, .link, .sep, .topLink, .label, .value {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
.bodyText {
	color: #000;
}
.small {
	font-size: 10px;
}
.bold {
	font-weight: bold;
}
.label {
	vertical-align: top;
	color: #000;
	background-color: #E7E7CF;
	text-align: right;
   	padding: 4;
}
.mandatory {
	color: #900;
	font-weight: bold;
}
.value {
	background-color: #F3F3E0;
    padding: 4;
}
.element {
	vertical-align: top;
	padding-top: 1;
}
.elementReadOnly {
	vertical-align: top;
	padding-top: 4;
}
.dim {
	color: #333;
}
.disabled {
	color: #999;
}
.link {
	color: #336;
}
.link:hover {
	color: #C30;
}

.sep {
	color: #F96;
}

.topLink {
	color: #FFF;
	text-decoration: none;
}
.topLink:hover {
	text-decoration: underline;
}

.subMenuLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336;
	text-decoration: none;
}
.subMenuLink:hover {
	color: #AC3E1B;
	text-decoration: underline;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.alphaLink {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #000;
}
.alphaLink:hover {
   text-decoration: underline;
} 

.uline {
	border-bottom: 1px solid #E7E7CF;
}
.hline {
	height: 1;
	border-bottom: 1px solid #FFD125;
}
.pointer {
	cursor: hand;
	cursor: pointer;
}
.vGap {
	height: 7px;
}

.menuOn, .menuOff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.menuOn {
	color: #000;
}
.menuOff {
	color: #FFF;
}
.menuOn:hover {
	text-decoration: underline;
}
.menuOff:hover {
	text-decoration: underline;
}

.menuOnBg {
	padding: 3 10 3 10;
	height: 20;
	background-color: #CC9;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-right: 1px solid #333;	
	text-align: center;
}
.menuOffBg {
	padding: 3 10 3 10;
	height: 20;
	
	border-bottom: 1px solid #FFF;
	text-align: center;
}

.footer {
	padding-top: 5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999;
}
.footerLink {
	padding: 0 5 0 5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336;
	text-decoration: none;
}
.footerLink:hover {
	text-decoration: underline;
}

 td.searchRow{
  white-space: nowrap;	 
	
}

.secHead {
	height: 20px;
	background-color: #066;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	padding-left: 3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
}
.secContent {
	border-right: 1px solid #E1E1C4;
	border-left: 1px solid #E1E1C4;
	border-bottom: 1px solid #E1E1C4;
}
.bg {
	background-color: #FBFBF4;
}
.buttonLayer {
	background-color: #E7E7CF;
}

.helpLayer {
	background-color: #FFFFE6;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 2 2 2 2;
	margin: 5 10 5 10;
}
.shortcutLayer {
	margin: 5;
	background-color: #FFF;
	border: 1px solid #CCC;
}
.message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F00;
}

/* HTML Elements */
.textField, .select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.button, .dropDownButton {
	border-width: 1px;
	padding: 1px;
	background-color: #066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
}

.dropDownButton {
	padding-right: 8;
	background: #066 url(/crm/images/dropdown.gif) right no-repeat;
}

/* Drop Down Menu */
.dropDownMenu {
	position:absolute;
	border: 1px solid #E1E1C4;
	background-color: #FFF;
	z-index: 10;
}
.dropDownItem,.dropDownItemOver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	cursor: hand;
	cursor: pointer;
}
.dropDownItemOver {
	background-color: #E7E7CF;
}

/* Table Component */
.tableHeadBg {
	height: 20px;
	background-color: #E7E7CF;
}
.tableHead {
	padding-left: 3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
}
A.tableHead {
	text-decoration: none;
}
A.tableHead:hover {
	text-decoration: underline;
}
.tableData {
	padding-left: 3;
	height: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFF;
}
.tableRowSep {
	height: 1px;
	background-color: #E7E7CF;
}

.searchMatchText {
	width: 25;
	background: transparent;
	border: 0px;
	font-size: 11px;
	text-align:right;
}

.searchFormatText {
	background: transparent;
	border: 0px;
	font-size: 11px;
}

.searchTROdd {

}

.searchTREven {

}

.searchHide {
	display: none;
}

.moveLayer {
	position: absolute;
	left: -1000px;
	top: -1000px;
	z-index: 10;
	height: 17;
	width: 100;
	padding: 3;
	background-color: #9C9;
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 11px;
	cursor: move;
}

.section {
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 11px;
	font-weight: normal;
}

.field {
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 11px;
	height: 20px;
	padding: 0 15 0 15;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}

.dummy {
	background: #FFF;
	width: 100%;
}

.handle {
	height: 2px;
	border: none;
}

.required {
	font-weight: bold;
	background:  url(/crm/images/required.gif) no-repeat left;
}

.readonly {
	background:  url(/crm/images/readonly.gif) no-repeat left;
}

.always {
	font-weight: bold;
}

.selected {
	background-color: #9C9;
	color: #000;
	cursor: move;
}

.used {
	background-color: #F0F0F0;
	color: #AAA;
	border: 0px;
}

.unused {
	background-color: #D4D0C8;
	color: #000;
	cursor: hand;
	cursor: pointer;	
}

.mouseover {
	background-color: #000;
}

.added {
	background-color: #D4D0C8;
}

.moved {
	border: 0px;
}

/* Calendar related */
.calTitle, .calDay, .calCurrDay {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.calTitle {
	color: #FFF;
}
.calNav {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
.calDay, .calCurrDay {
	color: #336;
	text-decoration: none;
}
.calCurrDay {
	color: #F00;
}
.calDay:hover {
	text-decoration: underline;
}
.calCurrDay:hover {
	text-decoration: underline;
}
.calWeekEnd {
	background-color: #F0F0F0;
}

/* Related to Calendar present in Side Bar */
.sbCalLayer {
	padding: 3;
	border: 1px solid #E1E1C4;
	background: #FFF;
}

.sbCalTitleBg {
	height: 30;
	border: 1px solid #E1E1C4;
	background-color: #FBFBF4;
}

.sbCalTitle, .sbCalNav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.sbCalNav {
	color: #336;
	text-decoration: none;
}

.sbCalNav:hover {
	color: #C30;
	text-decoration: none;
}

.sbCalDay, .sbCalWeekDay, .sbCalWeekEnd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336;
	text-decoration: none;
}

.sbCalDay:hover {
	color: #C30;
}

.sbCalWeekDay {
	color: #999;
}

.sbCalCurrDay {
	border: 1px solid #E1E1C4;
	background-color: #FBFBF4;
}

.sbCalWeekEnd {
	color: #F00;
}

.sbCalDay:hover, .sbCalCurrDay:hover, .sbCalWeekEnd:hover {
	text-decoration: underline;
}

/* Reports related */
.reportSideBarOpen {
	background-color: #FFF;
	border-right: 1px solid #CC9;
}
.reportSideBarClose {
	width: 25;
	background-color: #E9E9D1;
	border-right: 1px solid #CC9;
}
.reportSideBarHead {
	height: 25;
	background-color: #E9E9D1;
	border-bottom: 1px solid #CC9;
}

/* Dashboard related */
.dashBrdHead {
	background-color: #E7E7CF; 
	font-family: Verdana, Arial, Helvetica, San-serif;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	padding-left: 5px;
}

.dashBrdContent {
	border: 1px solid #E1E1C4;
	border-left: 1px solid #E1E1C4;
	border-bottom: 1px solid #E1E1C4;
	background-color: #F3F3E9;
}

.dashBrdIcon {
	border-left: 1px solid #E1E1C4;
	border-bottom: 1px solid #E1E1C4;
	background: #FBFBF4;
	text-align: center;
}

.dashBrdPlay {
	border-left: 1px solid #E1E1C4;
	border-top: 1px solid #E1E1C4;
	border-right: 1px solid #E1E1C4;
	background: #FBFBF4;
}

/* Tab Component */
.tabLink {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.tabLink:hover {
	text-decoration: underline;
}
.tabOn {
	padding: 5;
	border-top: 1px solid #D1D1A5;
	background-color: #FFF;
}
.tabOff {
	padding: 5;
	border-top: 1px solid #D1D1A5;
	border-left: 1px solid #D1D1A5;
	border-right: 1px solid #D1D1A5;
	border-bottom: 1px solid #D1D1A5;
	background-color: #EFEFDE;
}
.tabContent {
	border-left: 1px solid #D1D1A5;
	border-right: 1px solid #D1D1A5;
	border-bottom: 1px solid #D1D1A5;
}
.tabStart {
	border-right: 1px solid #D1D1A5;
	border-bottom: 1px solid #D1D1A5;
}
.tabEnd {
	border-left: 1px solid #D1D1A5;
	border-bottom: 1px solid #D1D1A5;
}

/* Side Bar related */
.sideBarTop {
	background-color: #CC9;
}
.sideBarHead, .sideBarHeadOver {
	height: 25;
	background-color: #E9E9D1;
	cursor: pointer;
	cursor: hand;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.sideBarHeadOver {
	background-color: #E1E1C1;
}
.sideBarContent {
	padding: 5 0 5 15;
	width: auto;
	background-color: #F3F3E9;
	border-bottom: 1px solid #E1E1C4;
}

/* Calculator */
.calcBg {
	background-color: #BFC1B7;
}
.calcResult {
	width: 100%;
	height: 25;
	background-color: #CBDFD6;
	border-top: 1px solid #999;
	border-left: 0px;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	font-size: 12;
	text-align: right;
}
.calcMem {
	width: 100%;
	height: 25;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 0px;
	border-bottom: 1px solid #FFF;
	background-color: #CBDFD6;
	font-family: Arial;
	font-size: 10;
	color: #BBB;
	text-align: left;
}
.calcBlackBtn, .calcGreyBtn, .calcBigBtn, .calcCancBtn, .calcMemBtn, .calcBackBtn {
	border: none;
	width: 25;
	height: 20;
	font-size: 11px;
	color: #FFF;
}
.calcBackBtn {
	background: url(/crm/images/calc_back_btn.gif) no-repeat;
}
.calcBlackBtn {
	background: url(/crm/images/calc_black_btn.gif) no-repeat;
}
.calcGreyBtn {
	background: url(/crm/images/calc_grey_btn.gif) no-repeat;
}
.calcCancBtn {
	background: url(/crm/images/nature/calc_canc_btn.gif) no-repeat;
}
.calcMemBtn {
	background: url(/crm/images/nature/calc_mem_btn.gif) no-repeat;
}



 .tableHeadClass {
        display:none
        padding-left: 3;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #000;
}

