#$Id$


#---- Operation Status Styles

.mcLoaded { width:30px;}


.mcLoading {
        width:30px;
	background: url(../images/process.gif) no-repeat center;
}



#----------- Status Message styles ---

.successMsg,.failureMsg {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color: #006666;
	padding : 7px;
        border:1px;	
}

.successMsg .msgTextDiv,.failureMsg .msgTextDiv{
	width:75%;
}


.successMsg .msgTypeBtn {
	border:0px;
	width: 24px;
	height: 24px;
	margin-right: 7px;
	background: url(../images/info_big.gif) no-repeat center;

}

.failureMsg .msgTypeBtn{
	border:0px;
	width: 24px;
	height: 24px;
	margin-right: 7px;
	background: url(../images/error_big.gif) no-repeat center;
}

.closeMsg {
	padding: 0px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	height: 11px;
	width: 11px;
	margin: 6px;
	background: url(../images/box/closeBtn.gif) transparent no-repeat;
}

.gmailtype
{
	display:block;
	position:fixed;
	right:10px;
	top:70px;
	background-color: #DE1010;
	text-align:right;
	color:#FFFFFF;
	font-size:10pt;
	padding:5px;
	_position:absolute;
	_top:expression(document.body.scrollTop+this.clientHeight);
}


.status-window-table {
background:#333333 none repeat scroll 0%;
border-color:#696969 rgb(0, 0, 0) rgb(0, 0, 0) rgb(105, 105, 105);
border-style:solid;
border-width:1px;
color:#FFFFFF;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:bold;
padding:3px;
width:225px;
}

.dialogtype
{
	width: 100%;
	padding:20px;
	background:url(../images/dialog-ajax-loader.gif)  no-repeat left;
}

.statusbar
{
	height:20px;
	padding:5px 1pt 1pt;	
	text-align:center;
	background-color:#FFFF99;	
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	width:100%;
  	position:fixed;
  	_position:absolute;
  	bottom:0;
  	_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight);
}

.imagestyle
{
	 border:0px none;
	 align:bottom;
	 margin-left:2px;
	 position:relative;
	 top:-5px;
	 width:50px;
	 height:16px;
	 background: url(../images/statusbar-ajax-loader.gif) no-repeat center;
}


.mcLoading_indicatorlite {
        width:30px;
	background: url(../images/indicatorlite.gif) no-repeat center;
}