/* $Id$ */
	/*************** Box Table Styles *******/
.hideBoxContent div,.box_hide {
	display: none;
}

.DACBox {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
}

.PrimaryBox {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
	border-left: 1px solid #CCCC99;
	border-right: 1px solid #CCCC99;
	border-bottom: 1px solid #CCCC99;
	border-top: 1px solid #CCCC99;
}

.PrimaryBox .boxHeader {
	width: 100%;
	height: 20px;
	background-color: #F0F0E1;
	padding-left: 2px;
	font-size: 12px;
	color: #000000;
	border-bottom: 1px solid #CCCC99;
}

.DACBox .boxHeader {
	width: 100%;
	border-bottom: 2px solid #CCCC99;
}

.NavigationBox,.SecondaryBox {
	width: 100%;
	border: 0px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

/* To be Moved to General.css and rename it as .hide*/
.box {
	width: 100%;
}

.box_hide 
{
	display: none;
}

.boxHeader {
	font-size: 12px;
	font-weight: bold;
	text-align: Left;
	height: 18px;
	padding: 0px;
	padding-right: 8px;
	white-space: nowrap;
	color: #000000;
	border-spacing: 0px;
}

.boxTitleDiv {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	width: 100%;
	cursor: pointer;
}

.SecondaryBox .boxHeader {
	width: 100%;
	padding: 0px;
	color: #006666;
	font-size: 12px;
	background-color: #FFFFFF;
}

.SecondaryBox {
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.boxCtrlButtonPane {
	padding: 0px;
	border-spacing: 0px;
}

.NavigationBox .boxHeader {
	width: 100%;
	border-bottom: 1px solid #CCCC99;
}

.NavigationBox .boxCtrlButtonPane {
	width: 20px;
	border-bottom: 1px solid #CCCC99;
}

.primaryBox .boxCtrlButtonPane {
	width: 20px;
	background-color: #F0F0E1;
	border-bottom: 1px solid #CCCC99;
}

.secondaryBox .boxCtrlButtonPane {
	width: 20px;
	background-color: #FFFFFF;
}

.DACBox .minButton,.DACBox .maxButton {
	display: none;
}

.minButton,.maxButton {
	border: 0px;
	height: 16px;
	width: 16px;
	margin: 0px;
}

.boxContent {
	text-align: center;
	vertical-align: top;
	padding-left: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.secondaryBox .boxContent {
	background-color: #FFFFFF;
	border-left: 1px solid #CCCC99;
	border-right: 1px solid #CCCC99;
	border-bottom: 1px solid #CCCC99;
	border-top: 1px solid #CCCC99;
}

//This class must be modified according to bocContent  (class ) while using SlidingEffect.
.innerDiv {
	border-color: #FFFFFF;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.navigationBar .oddRow,.navigationBar .evenRow {
	color: #000000;
	font-size: 11px;
	padding: 4px;
	background: #FBFBF4;
	height: 23px;
	border: none;
}

.filterDateImage {
	background: url(../images/date_icon.png) no-repeat center;
	cursor: hand;
}

.maxButton {
	background: url(../images/arrow_down.png) no-repeat center;
	cursor: hand;
}

.NavigationBox .maxButton {
	background: url(../images/arrow_down.png) no-repeat center;
	cursor: hand;
}

.minButton {
	background: url(../images/arrow_up.png) no-repeat center;
	cursor: hand;
}

.NavigationBox .minButton {
	background: url(../images/arrow_up.png) no-repeat center;
	cursor: hand;
}

.SecondaryBox .minButton,.SecondaryBox .maxButton {
	display: none;
}

.AccordianBox {
	padding: 0px;	
	width: 100%;
	border: 1px solid #1F669B;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 11px;
	overflow: auto;
}

.AccordianBox .boxHeader {
	font-size: 12px;
	font-weight: bold;
	text-align: Left;
	height: 18px;
	padding: 0px;
	padding-right: 8px;
	white-space: nowrap;
	background-color: #6B79A5;
	border-spacing: 0px;
	border-top: 1px solid #BDC7E7;
	border-bottom: 1px solid #182052
}

.AccordianBox .boxTitleDiv {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	width: 100%;
	cursor: pointer;
}

.AccordianBox .maxButton {
	background-color: #6B79A5;
	background: url(../images/arrow_down.png) no-repeat center;
	cursor: hand;
}

.AccordianBox .minButton {
	background-color: #6B79A5;
	background: url(../images/arrow_up.png) no-repeat center;
	cursor: hand;
}