/* $Id$ */

.breadCrumbcss {
         background-image: url(../images/arrow_right.gif);
        background-repeat: no-repeat;
        background-position:center;
        padding-left:15px;
}

.breadCrumbs {
	padding: 5;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 10px;
	color: #000000;
}
.breadCrumbs A {
	color: #000000;
	text-decoration: underline;
}
.breadCrumbs IMG {
	margin: 0px 7px 0px 7px;	
}


//Old!!
.MessageDiv {
	width:75%;
	margin-left:auto;
	margin-right:auto;
	color: #006666;
	padding : 7px;	
}

.successMessage {
	border:0px;
	width: 24px;
	height: 24px;
	margin-right: 7px;
	background: url(../images/info_big.gif) no-repeat center;

}

.failureMessage {
	border:0px;
	width: 24px;
	height: 24px;
	margin-right: 7px;
	background: url(../images/error_big.gif) no-repeat center;
}

.closeMessage {
	padding: 0px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	height: 11px;
	width: 11px;
	margin: 6px;
	background: url(../images/box/closeBtn.gif) transparent no-repeat;
}

