/* $Id$ */
/* Chart CSS Document */

.GraphToolTip
{
	background:#FBFCE9;		
	width:auto;
	nowrap:nowrap;
	border-left: solid 1px #ffffff;
	border-bottom: solid 1px #714F4A;
	border-right: solid 1px #714F4A;
	border-top: solid 1px #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:left;
	padding: 3px 3px 3px 3px;
	color:#773C00;
}