/*$Id$*/
.selectfilter{
	padding:0px 0px 0px 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	width:120px;
	}
.textfilter{
	padding:0px 0px 0px 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	width:150px;
	}
.filtername{
	padding:2px 2px 2px 2px;
	}	
	
	
.button{
	padding:0px 5px 0px 5px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	width:50px;
	}


.crDateBtn{

   background: url(../../common/images/date_icon.png) no-repeat center;        
}

.crTxtFld {
     padding: 0px 0px 0px 5px;
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 10px;
     width: 150px;
 }


.crDeleteBtn {
   background: url(../../common/images/chk-wrong.gif) no-repeat center;
 }

.crMatchValTD{
  width:30px;
}
.crMoreBtn
{ 
  margin-left:35px;  
}

.crTitleTD{
  padding-left:40px;
}

.crDateTxtFld {
     padding: 0px 5px;
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 10px;
     width: 120px;
 }
