/* $Id$ */
.helpText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.mysqlTextarea {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	word-spacing: 2px;
	height: 110px;
	width: 500px;
	letter-spacing: 1px;
}

.msgBox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: none;
	color: #333333;
	text-decoration: none;
	background-color:#fffff6;
	border:1px solid #96967D;
}

.msgBoxHeaderTxt{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #cf0000;
	text-decoration: none;
}

.resultsTxt{
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	letter-spacing: 1px;
	word-spacing: 2px;
	border-bottom: solid 1px #C3C39D;
	padding-left: 2px;
}

.resultsTableBorder {
	border: 1px solid #979797;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.resultsTableHdr {
	background-color: #E7E9DA;
	padding: 2px;
	text-align: left;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border-bottom: #C1C1AD 1px solid;
	font-weight: bold;
	}
	
	