/* $Id: */

/************ Dialog Box Styles ***********/
.DialogBox {
	width: 100%;
	height: 100%;
}
.resize {
	width: 3px;
	height: 10px;
	background: url(../images/resizeStrip.png)repeat-x left top;
	cursor: nw-resize;
}

.dragOutlineHorizontal {
	height: 3px;
	background: url(../images/horizontalResize.png) repeat-x left top;
	cursor: n-resize;
}
.dragOutlineVertical {
	width: 5px;
	background: url(../images/verticalResize.png) repeat-y left top;
	cursor: e-resize;
}
.dragOutlineHorizontalBottom {
	
	height: 5px;
	background: url(../images/horizontalResizeBottom.png) repeat-x left top;
	cursor: n-resize;
}
.DialogBox .boxHeader, .DialogBox .boxCtrlButtonPane {
	height: 25px;
	border-top: 1px solid #C8C2A8;
	background-color: #ECECD9;
}

.DialogBox .boxHeader {
	width: 100%;
    	background-color: #ECECD9;
	font: bold 11px Verdana, Arial, Helvetica, Sans-serif;	
}

.DialogBox .boxHeaderType2 {
	width: 100%;
   	background-color: #747170;
	font: bold 11px Verdana, Arial, Helvetica, Sans-serif;	
	cursor: move;
}
.DialogBox .boxHeaderType3 {
	background-color: #747170;
	font: bold 11px Verdana, Arial, Helvetica, Sans-serif;	
	border: 1px solid #C8C2A8;
	
}

.drag {
	padding-left: 20px;
	background: url(../images/customization/dragArea.gif) no-repeat 5px 5px;
	cursor: move;
}

.DialogBox .boxCtrlButtonPane {
	text-align: right;
}

.DialogBox .minButtonType2{
	width: 14px;
	height: 14px;
	background: url(../images/minimise.png) no-repeat right;
	background-color: #747170;
	border-right: 2px solid #747170;
	border-left: 2px solid #747170;
	border-top: 1px solid #747170;
	border-bottom: 1px solid #747170;
	border: none;
	cursor: pointer;
	cursor: hand;
}
.DialogBox .maxButtonType2 {
	width: 14px;
	height: 14px;
	background: url(../images/maximise.png) no-repeat right;
	background-color: #747170;
	border-right: 2px solid #747170;
	border-left: 2px solid #747170;
	border-top: 1px solid #747170;
	border-bottom: 1px solid #747170;
	border: none;
	cursor: pointer;
	cursor: hand;
}
.DialogBox .maximisedButtonType2 {
	width: 14px;
	height: 14px;
	background: url(../images/maximised.png) no-repeat right;
	background-color: #747170;
	border-right: 2px solid #747170;
	border-left: 2px solid #747170;
	border-top: 1px solid #747170;
	border-bottom: 1px solid #747170;
	border: none;
	cursor: pointer;
	cursor: hand;
}

.DialogBox .closeButton {
	width: 8px;
	height: 7px;
	background: url(../images/dialogClose.gif) no-repeat right;
	border: none;
	cursor: pointer;
	cursor: hand;
}
.DialogBox .closeButtonType2 {
	width: 14px;
	height: 14px;
	background: url(../images/closeButtonType2.png) no-repeat right;
	background-color: #747170;
	border-right: 2px solid #747170;
	border-left: 1px solid #747170;
	border-top: 2px solid #747170;
	border-bottom: 1px solid #747170;
	cursor: pointer;
	cursor: hand;
}
.DialogBox .boxCtrlButtonPaneType2 {
	height: 25px;
	background-color: #747170;
}


.DialogBox .boxTL {
	width: 7px;
	height: 25px;
	background: url(../images/dialogTL.gif) no-repeat left top;
}

.DialogBox .boxTR {
	width: 7px;
	height: 25px;
	background: url(../images/dialogTR.gif) no-repeat right top;
}

.dialogBox .boxML {
	border-left: 1px solid #C8C2A8;
	background: #FFFFFF;
}

.DialogBox .boxContent {
	border-left: 1px solid #C8C2A8;
	border-right: 1px solid #C8C2A8;
	background: #FFFFFF;
	vertical-align: top;
	text-align: left;
}

.dialogBox .boxMR {
	border-right: 1px solid #C8C2A8;
	background: #FFFFFF;
}

.DialogBox .boxBL {
	width: 7px;
	height: 7px;
	background: url(../images/dialogBL.gif) no-repeat left top;
}

.DialogBox .boxBC {
	height: 8px;
	background: url(../images/dialogBC.gif) repeat-x left top;
}

.DialogBox .boxBR {
	width: 7px;
	height: 7px;
	background: url(../images/dialogBR.gif) no-repeat right top;
}
.DialogBox .centerLeft {
	width: 7px;
	height: 7px;
	background: url(../images/topBg.gif) repeat-y right top;
	background-color: #ECECD9;
}

.freezeLayer {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF; 
	filter: Alpha(opacity = 65);
	opacity: 0.65;
	z-index: 20;
}

.hide {
	display: none;
}

.DialogBox .boxCorner {
	width: 3px;
	height: 10px;
	background: url(../images/resize_new.gif) no-repeat right top;
	cursor: nw-resize;
}

.dropDownMenu {
	//position:absolute;
	border: 1px solid #709933;
	background-color: #EFEFC2;
	padding: 2px 2px 2px 2px;
	//z-index: 10;
}

/*----------------Shadowbox----------------------*/
.dialogTR{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src=../images/dialogTR.png); 
	width: 6px;
}
html>body .dialogTR{
	background: url(../images/dialogTR.png) left top no-repeat;
	width: 6px;
}
.dialogMid{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src=themes/wifi/images/dialogMid.png);
	background-repeat:repeat-y;
	width: 6px;
}
html>body .dialogMid{
	background: transparent  url(../images/dialogMid.png) repeat-y  scroll  left top ;
	width: 6px;
}
.dialogBL{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src=themes/wifi/images/dialogBL.png); 
	width: 11px;
	height: 6px;
}
html>body .dialogBL{
	background: url(../images/dialogBL.png) right top no-repeat;
	width: 11px;
	height: 6px;
}
.dialogBM{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src=themes/wifi/images/dialogBM.png);
	background-repeat:repeat-x;
	height: 6px;
}
html>body .dialogBM{
	background: url(../images/dialogBM.png) left top repeat-x;
	height: 6px;
}
.dialogBR{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src=themes/wifi/images/dialogBR.png); 
	width: 6px;
	height: 6px;
}
html>body .dialogBR{
	background: url(../images/dialogBR.png) left top no-repeat;
	width: 6px;
	height: 6px;
}