/* $Id$ */
.btn, .ButtonPanelClass input {
	border-top: 1px solid #D9E4F8;
	border-right: 1px solid #0E1D2C;
	border-bottom: 1px solid #0E1D2C;
	border-left: 1px solid #D9E4F8;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	vertical-align:top;
	padding: 1px;
	background: #006666; 
}

.formTable {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #E6E4D9;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

.SampleForm {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #E6E4D9;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

.LabelClass {
	height: 20px;
	padding-left: 3px;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	background-color: #006666; 
	text-align: left;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	white-space: nowrap;
}

.FieldNameClass  {
	padding: 5px 9px 5px 5px;
	background-color: #F0F0E1;
	vertical-align: middle;
	white-space:nowrap;
	width:40%;
}

.FieldValueClass {
	padding: 5px 9px 5px 5px;
	background-color: #F7F7EC;
}

.FormElementClass, .EmptyFormCell {
	background-color: #FFFFFF;
	padding: 2px 3px 2px 3px;
}

.FormElementClass input {
	border: 1px solid #CCCC99;
}

.ButtonPanelClass {
	padding: 3px;
	background-color: #F0F0E1;	
	text-align:center;
}

.FormElementClass Input, .FormElementClass textarea {
}

.IssueForm .FormElementClass Input {
	width: 250;
}

.TextClass {
	background-color: #FFFFFF;
	padding: 2px 3px 2px 3px;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
}

.customAlert {
	padding:0px;
	background: transparent;
}
.customAlert .caTopLeft {
	background: url(../images/box/caTopLeft.gif) no-repeat right;
	height:20px;
	width:7px;
}
.customAlert .caTopCenter {
	background: url(../images/box/caTopCenter.gif) repeat-x left;
	width:250px;
	height:20px;
}
.customAlert .caTopRight {
	background: url(../images/box/caTopRight.gif) no-repeat left;
	height:20px;
	width:6px;
}
.customAlert .caMiddleLeft {
	background: url(../images/box/caMiddleLeft.gif) repeat-y right;
}
.customAlert .caMiddleRight {
	background: url(../images/box/caMiddleRight.gif) repeat-y left;
	width:7px;
}
.customAlert .caBottomLeft {
	background: url(../images/box/caBottomLeft.gif) no-repeat right;
	height:8px;
	width:7px;
}
.customAlert .caBottomCenter {
	background: url(../images/box/caBottomCenter.gif) repeat-x left;
	height:8px;
}
.customAlert .caBottomRight {
	background: url(../images/box/caBottomRight.gif) no-repeat left;
	height:8px;
	width:7px;
}
.customAlert .caMessage {
	background: #FFF0F0;
	font: Bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
}
.customAlert .caClose{
	text-align:right;
	vertical-align: top;
	background: #FFF0F0;
}

.customAlert .caCloseButton {
	background-image: url(../images/box/closeBtn.gif);
	background-repeat: no-repeat;
	border-top: 0px solid #C7E6FF;
	border-left: 0px solid #C7E6FF;
	border-right: 0px solid #4DA9F2;
	border-bottom: 0px solid #4DA9F2;			
	height: 13px;
	width: 13px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

.errorMsg {
	color: red;
}


/*-------------------------------------------------------*/
