/* $Id$ */
.gridLytTable{
	padding: 0px;
	border: 0;
	width: 100%;
}

.gridLytCell{
	padding: 0px;
	padding-bottom: 15px;
}

.gridColumn {
	padding: 0px 5px 0px 5px;
	vertical-align: top;
}

.gridItem {
	margin: 5px 0px 7px 0px;
}