/* $Id$ */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #444;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	background-color: #BBC9D9;
}

.i18nbody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #444;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	background-color: #BBC9D9;	
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-smooth: always;
	color: #444;
	text-decoration: none;
	cursor:default;

}
.bodyText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	font-smooth: always;
	text-decoration: none;
	background-color: #BBC9D9;
}


a {
	color: #1062C0;
	font-smooth: always;
	text-decoration: underline;
}

a:hover {
	color: #B21702;
	font-smooth: always;
	text-decoration: none;
}



.layout {
	width:750px;
height:100%;
}

.layout #lefttile{
	background: url(../images/leftbordershadow.gif) repeat-y left top;
	width:15px;
}

.layout #righttile{
	background: url(../images/rightbordershadow.gif) repeat-y right top;
	width:15px;
}

.layout #centerContent{
	padding:0px 15px 100px 15px ;

	background-color:#fff;
}

.layout #centerContentb{
	background-color:#aaa;
	color:#fff;
	border-bottom:1px solid #6A7F97;
	padding:3px;
	font-size:10px;

}

.layout #centerContentb a{
	color:#fff;


}





.mastheadbg{
	border-left:1px solid #124CA4; 
	border-right:1px solid #124CA4; 
	border-bottom:6px solid #124CA4; 
	background: url(../images/gradbg.gif) repeat-x left bottom;
}


.box{
	border:1px solid #124CA4; 
	background: url(../images/gradbg.gif) repeat-x left bottom;
}

.signupbg{
	background: url(../images/signupbg.gif) repeat-x left bottom;
	background-color: #124CA4;
}

.formfields {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #444;
	width: 130px;
	border: 1px solid #888888;
	padding:1px;
	background-image: url(../images/formshdw.gif);
	background-repeat: no-repeat;
	background-position: -4px -4px;
}

.formsearch {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #444;
	width: 190px;
	border: 1px solid #888888;
	padding:3px 3px 3px 23px ;
	background-image: url(../images/form_searchboxbg.gif);
	background-repeat: no-repeat;
	height:22px;
}


.formButton, .formButtonact  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background: url(../images/buttonbg.gif) repeat-x;
	background-color: #C6C5D7;
	cursor: hand;
	height:auto;
	width: auto;
	padding: 1px 1px 1px 1px;
}

.formButtonact{
	background: url(../images/buttonbg1.gif) repeat-x left bottom;
	background-color: #678CC0;
	font-weight: bold;
	color:#fff;
}



.browseHead{
	border-top: 1px solid #000;
	background-color: #3E71C1;
	border-bottom: 1px solid #000;
	padding:5px;	
}

.browseHead td{
	color:#fff;	
}

.browseHead #heading{
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: always;
	font-size: 13px;
	font-weight: bold;
	color:#1062C0;
}

.contentHead{
	border-top: 1px solid #719FD4;
	background-color: #F2F8F3;
	border-bottom: 1px solid #719FD4;
	padding:5px;	
}

.contentHead a{

	padding:1px;	
	padding-top:0px;
}

.contentHead a:hover{
	background-color: #1750A6;
	padding:1px;	
	padding-top:0px;
color:#fff;
}

.contentHead #heading{
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: always;
	font-size: 13px;
	font-weight: bold;
	color:#1062C0;


}


#welcome{
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: always;
	font-size: 13px;
	font-weight: bold;
	color:#1062C0;
padding:5px;

}

#welcome a{
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: always;
	font-size: 12px;
	font-weight: normal;
	color:#1062C0;
}

#welcome a:hover{
	color:#f00;
}
.breadcrumb {
padding:8px;
}

.languages a{
	padding:1px;
	display:block;
	border: 1px solid #fff;
	height:13px;
}

.languages td{
	text-align:left;
	vertical-align:top;
	padding:3px;
}

.languages a:hover{
	color:#fff;
	border: 1px solid #000;
	background-color: #1750A6;
}

.languages #langhead{
	display:block;
	padding:10px 2px 2px 2px ;
	font-size: 12px;
	font-weight: bold;
}



.translationsTable{
	background-color: #fff;
	width:100%;
	border:0px;
	border-padding: 12px; 
	border-collapse: collapse; 
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
}

.translationsTable td{
	padding: 3px; 
}



#rowfoot a{
	font-weight:bold;
	font-size:10px;
	padding: 1px; 
	padding-top: 0px; 
}

#rowfoot a:hover{
	color:#fff;
	background-color: #1750A6;
}




#theading{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#5891D3;
}

#theading td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#5891D3;
}

#theading #normaltext{
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color:#999;
	text-align:right;
}

#theading a{


	font-weight: normal;
	color:#1062C0;
}


.unpublished{
	color:#0A4B95;
	font-size: 20px;
	position: absolute;
	padding:0px 3px -10px 3px ;

}



#rowhead{
	font-weight:bold;
	font-size:11px;
	color:#666;
}

#rowhead td{
	font-weight:normal;
}

#rowhead a{
	font-size:11px;
	padding: 1px; 
	padding-top: 0px; 
}

#rowhead a:hover{
	color:#fff;
	background-color: #1750A6;
}



#rowtop{
	background-color: #fff;
	border-top:0px solid #888;
	border-bottom:2px solid #777;

}

#rowtop td{

}


#rowbot{
	background-color: #fff;
	border-top:2px solid #777;
	border-bottom:0px solid #888;
}

#rowbot td{
	font-size:11px;
	font-weight:normal;
}

#roweven{
	background-color: #F2FAFB;
}



#rowodd{
	background-color: #EDF9E1;
}



#tlinks{
	font-weight:normal;
	font-size:11px;
	color:#aaa;
}

#tlinks td{
	font-weight:normal;
	color:#999;
}

#tlinks a{
	font-size:11px;
	padding: 1px; 
	padding-top: 0px; 
}

#tlinks a:hover{
	color:#fff;
	background-color: #1750A6;
}



#lastupdated{
	color:#999;
}


.addlanguage{
	border-top: 1px solid #BBC9D9;
	background-color: #ECF0F6;
	border-bottom: 1px solid #BBC9D9;
	padding:5px;	
}




.subtaboff, .subtabcreateoff {
	background-color: #F0F4F8;
	background-image: url(../images/subtab_offbg1.gif);
	background-repeat: repeat-x;
	background-position: right top;



}

.subtaboff a {
	background-color: #F0F4F8;
	background-image: url(../images/subtab_offbg1.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #5E8BC6;
	text-decoration: none;
	padding:4px 10px 4px 6px;

	white-space: nowrap;
	display:block;

	border-bottom:1px solid #5670A9;
	border-left:1px solid #99B2D3;
}

.subtaboff a:hover{
	background-image: url(../images/subtab_offbg2.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
	color: #000;
	border-bottom:1px solid #5670A9;
	border-left:1px solid #99B2D3;
}

.subtabon a{
	background-color: #F0F4F8;
	background-image: url(../images/subtab_on.gif);
	background-repeat: no-repeat;
	background-position: right top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding:4px 10px 4px 6px;
	white-space: nowrap;
	display:block;
	border-bottom:1px solid #fff;
	border-left:1px solid #5670A9;
}


.subtabon a:hover{

	color: #3466A9;

}

.subtabborder{
	border-bottom:1px solid #5670A9;
	width:100%;
}

.tabcontents{
	padding:10px;
	border-left:1px solid #5670A9;
	border-right:1px solid #5670A9;
	border-bottom:1px solid #5670A9;
}



#tCount{
	font-family: Arial, Helvetica, sans-serif;
	font-smooth: always;
	font-size: 16px;
	font-weight: bold;
	color:#1062C0;
	padding:4px 5px 5px 5px ;
	width:25px;
	text-align:right;

}






.actionlink {
	font-weight:bold;
	font-size:15px;
	padding: 1px; 
	padding-top: 0px; 
}

a.actionlink:hover{
	color:#fff;
	background-color: #1750A6;

}









.subtaboffnew {
	background-color: #F0F4F8;
	background-image: url(../images/subtab_newoff.gif);
	background-repeat: repeat-x;
	background-position: right top;



}

.subtaboffnew a {
	background-color: #F0F4F8;
	background-image: url(../images/subtab_newoff.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #477317;
	text-decoration: none;
	padding:4px 10px 4px 6px;

	white-space: nowrap;
	display:block;

	border-bottom:1px solid #5670A9;
	border-left:1px solid #99B2D3;
}

.subtaboffnew a:hover{
	background-image: url(../images/subtab_newon.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
	color: #000;
	border-bottom:1px solid #5670A9;
	border-left:1px solid #99B2D3;
}



.linkButton {
	border-top:1px solid #fff;
}
	

.linkButton a{


	border-left: 1px solid #55B423;
	border-top: 1px solid #55B423;
	border-right: 1px solid #306713;
	border-bottom: 1px solid #306713;
	
	
	padding: 4px 7px 1px 7px;
	display:block;

	background-image: url(../images/buttonbg2.gif);
	background-color: #688DC5;
	background-position: left bottom;	
	
	
}

.linkButton a:hover{
	background-image: url(../images/buttonbg3.gif);
	background-color: #626DA9;
	background-position: left bottom;
	color: #f00;
}



.linkborder {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color:#fff;
	border: 1px solid #95A8C0;
	padding: 1px 3px 1px 3px;
	margin: 0px 0px 0px 15px;
	color: #333;
	white-space: nowrap;
	text-decoration:none;
	height:13px;

	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
}

a.linkborder:hover{
	background-color:#C9D6E8;
	border: 1px solid #36547C;	
	color: #000;
	border-left: 1px solid #555;
	border-top: 1px solid #555;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.alltranslationkeys{
	border-bottom: 2px solid #36547C;
}

.alltranslationkeys td{
	padding:5px;
}


.alltranslationkeys #ColumnHead td{ 
	background-color: #DAE3D7;
	border-left: 2px solid #ECF5E9;
	border-top: 2px solid #ECF5E9;
	border-right: 2px solid #BDC6BA;
	border-bottom: 2px solid #BDC6BA;
	font-weight: bold;
	color: #174F02;
	text-decoration: none;
	white-space: nowrap;
 } 


.alltranslationkeys .translatedrow td{
	background-color: #EBF6F2;
	border-bottom: 1px solid #ccc;
	text-align:left;
	vertical-align:top

}

.alltranslationkeys .untranslatedrow td{
	background-color: #EDF9E1;
	border-bottom: 1px solid #ccc;
	text-align:left;
	vertical-align:top
}


.translatetext {
	border: 1px solid #ccc;

	display:block;

}

 .translatetext a{
	background: transparent url(../images/editicondis.gif) no-repeat right 2px ;
	padding:2px;
	height:100%;
	display:block;
	text-decoration:none;
	color:#444;

}

.translatetext a:hover{
	background: transparent url(../images/editicon.gif) no-repeat right 2px ;
	background-color:#F1F7F3;
	display:block;
	color:#000;
}



.translatetextfield {
	border: 1px solid #ccc;

	display:block;

}

.translatetextfield a{
	background: transparent url(../images/editicondis.gif) no-repeat right 2px ;
	padding:2px;
	display:block;
	text-decoration:none;
	color:#444;

}

.translatetextfield a:hover{
	background: transparent url(../images/editicon.gif) no-repeat right 2px ;
	background-color:#F1F7F3;
	display:block;
	color:#000;
}

.translateTF {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #444;
	width: 100%;
	border: 1px solid #888888;
	padding:1px;
	background-image: url(../images/formshdw.gif);
	background-repeat: no-repeat;
	background-position: -4px -4px;

}


.editquantitylink{
	background: transparent url(../images/editicon.gif) no-repeat right center;
	font-size: 12px;
	font-weight: bold;
	width:70px;

	display: block;
	padding: 2px 0px 0px 0px;
	text-decoration:none;
	border: 1px solid #F0F4F0;
	background-color: #F0F4F0;
}






.mlselect{
	border: 1px solid #888888;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	width: auto;
	padding-left: 2px;
}

.mlselect option {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-transform: none;
	background-color: #fff;
	padding:1px;
}





.mlselect optgroup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2px;
	background-color: #eee;
	border-bottom:1px dotted #666;
	padding:0px;
}

 
.tt_lefttop {
 	background: url(../images/tooltip_ltcorner.gif) no-repeat left top; 
 	height:2px;
 	width:2px;
 }
 	
 .tt_top {
 	background: url(../images/tooltip_toptile.gif) repeat-x left top; 
 	height:2px;	
 }
 
 .tt_righttop {
 	background: url(../images/tooltip_rtcorner.gif) no-repeat right top; 
 	height:2px;
 	width:4px;
 }
 
 
 
 .tt_leftmiddle {
 	background: url(../images/tooltip_lefttile.gif) repeat-y left top; 
 	width:2px;
 }
 	
 .tt_content {
 	background: url(../images/gradbg.gif) repeat-x left bottom #FFFFFF	; 
 
 	padding:0px;
 	border:1px solid #444;
 	height:180px;
 }
 
 .tt_rightmiddle {
 	background: url(../images/tooltip_righttile.gif) repeat-y right top; 
 	width:4px;
 }
 
 
 
 .tt_leftbot {
 	background: url(../images/tooltip_lbcorner.gif) no-repeat left bottom; 
 	height:4px;
 	width:2px;
 }
 
 .tt_bottom {
 	background: url(../images/tooltip_bottomtile.gif) repeat-x left bottom; 
 	height:4px;
 }
 .tt_rightbot {
 	background: url(../images/tooltip_rbcorner.gif) no-repeat right bottom; 
 	height:4px;
 	
 }
 
 .whitebg{
 	background-color:#fff;
 }
 
 
 
 .shadowbg{
 	background-color:#ccc;
 
 }
 
 .installtrans #iheading{
 	background-color:#7796BF; 
 	color:#fff;
 	font-weight:normal;
 	border:1px solid #777;
 }
 
 
 .textgray{
 	color:#888;
 }
 
 .graygradbg{
 	background: url(../images/graygradbg.gif) repeat-x right bottom; 
 	padding:3px; 
 	border:1px solid #ccc; 
 	border-bottom:2px solid #36547C;
 }
 
 
 
 
