/*$Id$*/

/*Styles for horizontally oriented menus */
ul.hmenu{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
    width: 100%;
}

ul.hmenu li{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
    padding: 2px 4px 2px 4px;
}

ul.hmenu a{
	float: left;
	color: #000000;
	text-decoration: none;
}

ul.hmenu a:hover{
	text-decoration: underline;
}

/*Styles for vertically oriented menus */
ul.vmenu{
	margin: 0;
	padding: 0;
	width: 100%;
}

ul.vmenu li{
	margin: 0;
	list-style: none;
	text-align: left;
	padding: 2px 4px 2px 4px;
	white-space: nowrap;
}

ul.vmenu a{
	display: block;
	text-decoration: none;
	color: #000000;
}

ul.vmenu a:hover{
	text-decoration: underline;
}

/*.menuButton {
   font: bold 11px Verdana, Arial, Helvetica, sans-serif;
   color: #000000;
   border: 1px solid #666666;
   width: 100px;
   background: url(../images/btn_bg.gif) repeat-x;
   height: 20px;
}*/

ul.hmenubutton{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

ul.hmenubutton li{
	vertical-align: middle;
	display: inline;
	height: 20px;
	list-style: none;
	margin-right: 10px;
}

ul.hmenubutton a{
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000; 
	text-decoration: none;
/*	
	text-align: center; 
	padding: 4px;
	height: 18px; 
	background: #006666; 
*/
}

ul.vmenubutton{
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline;
}

ul.vmenubutton li{
	margin: 0;
	list-style: none;
	padding: 2px 4px 2px 4px;
}

ul.vmenubutton a{
	display: block;
	text-decoration: none;
	border-right: #628B43 1px solid;
	border-top: #628B43 1px solid;
	background: #C5E1A2;
	border-left: #628B43 1px solid;
	border-bottom: #628B43 1px solid;
	color: #000000;
	padding: 5px 10px 5px 10px;
}

ul.vmenubutton a:hover{
	text-decoration: none;
}

/*.menubutton {
    border-right: #628B43 1px solid;
    border-top: #628B43 1px solid;
    font-size: 11px;
    background: #C5E1A2;
    border-left: #628B43 1px solid;
    cursor: hand; COLOR: #01155A;
    border-bottom: #628B43 1px solid;
    height: 20px;
    color: #000000;
    text-decoration: none
}*/

.menuDropDownBtn, .menuDropDownBtnPull {
	border-top: 1px solid #FDC953;
	border-left: 1px solid #FDC953;
	border-right: 1px solid #FDC953;
	border-bottom: 1px solid #FDC953;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	height:15px;
	margin:0px;
	cursor: hand;
	cursor: pointer;
}

.menuDropDownBtn {
	background: url(../../common/images/customizeBg.gif) repeat-x center;
}

.menuDropDownBtnPull {
  background: url(../../common/images/customizeDownBtn.gif) no-repeat center center;
	width:11px;
}

/*
* Used for Vertical Links (Quick Links)
*/


.qLinkTable{
   width:100%;
   padding:0px;
   border:0px;
}


.qLinkMIPane {
  padding-left:5px;
}

.qLinkRemoveBtnPane {
    text-align:right;
}


.qLinkRemoveBtn{
	border-top: 1px solid #E8E8E8;
	border-right: 1px solid #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
	border-left: 1px solid #E8E8E8;
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
	background: #F0F6E1 url(../images/remove.gif) no-repeat left;
	height: 18px;
}

.menupopupimg {
	background: url(../images/menupopup.gif) no-repeat left;
	padding:10px;
}

.Testcss{
        background-image:url(../images/process.gif);
        background-repeat:no-repeat;
        padding-left:19px;
        height:24px;

}


/* styles for menu drop down */
ul.menudropdown {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul.menudropdown li {
	padding: 0px 0px 0px 0px;
	margin: 0px;
	list-style: none;
	white-space: nowrap;
}