/* $Id$ */

.propertySheet {
	background-color: #FFFFFF;width: 95%;margin-left: auto;margin-right: auto;border:1px solid #CCCC99;
}

.propertySheet .FieldNameClass, .propertySheet .FieldValueClass {
	padding:3px;vertical-align:middle;width:20%;
}

.propertySheet .FieldValueClass A:link, .propertySheet .FieldValueClass A:hover {
	text-decoration: underline;color: #000000;
}

.propertySheet .oddRow, .propertySheet .evenRow {
	background-color: #FFFFFF;
}

.propertySheet .FieldNameClass {
	background-color: #F0F0E1;font-size: 11px;font-weight: bold;
}


