/* $Id$ */
/* tab */

/* Normal Horizontal Tab with Text Links */
/* plaintab */

.plaintab {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	width: 100%;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 17px;
}
	
ul.plaintab li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 2px 15px 2px 15px;
}

ul.plaintab a{
	color: #000000;
	font-size: 11px;
}

ul.plaintab li.selected a {
	color: #000000;
	text-decoration: none;
}

ul.plaintab li.notSelected a {
	color: #FFFFFF;
	text-decoration: none;
}
ul.plaintab li.selected {
	background: #CCCC99;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #333333;
}

ul.plaintab li.notSelected a:hover{
	text-decoration: underline;
}

ul.plaintab li.selected a:hover{
	text-decoration: underline;
}
/*Tab with Images alone*/
ul.icontab {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff left center;
	border: none;
	font-size: 10px;
	letter-spacing: 0.05em;
	font-family: Arial, Helvetica, sans-serif;
}
	
ul.icontab li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border-right: 0px solid #336699;
	border-left: 0px solid #336699;
	background-color: #B6C7E5;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #829AB1;
	}

ul.icontab a.notselected {
	float: left;
	text-decoration: none;
	color: #000000;
}

ul.icontab a.selected {
	float: left;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #336699;
	}

ul.icontab a:hover {
	text-decoration: underline;
}

/*Vertically arranged Tabs*/
ul.verticaltab{
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul.verticaltab li {
	padding: 6px 0px 6px 4px;
	margin: 0px;
	list-style: none;
	white-space: nowrap;
	ul:hover{color:lime;background:red;}
}

ul.verticaltab a {
	color: #000000;
	text-decoration: underline;
}

ul.verticaltab a.selected {
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

ul.verticaltab li.selected a {
	font-weight: bold;
	text-decoration: none;
	color: #990000;
}
/*Drop down Tabs*/
ul.droptab{
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#696969;
	opacity:.8;
}

ul.droptab li {
	padding: 6px 0px 6px 4px;
	margin: 0px;
	list-style: none;
	white-space: nowrap;
	
}


ul.droptab li.hover{
	background:#FA8072;
	opacity:1;
}

ul.droptab a {
	padding: 6px 0px 6px 4px;
	color: #FFFFFF;
	font-color:#000000;
}

ul.droptab a.selected {
	font-weight: bold;
	color: #000000;
	
}

ul.droptab li.selected a {
	font-weight: bold;
	text-decoration: none;
	color: #990000;
	text-decoration: underline;
}
ul.droptab input.dropDownTabVerticalButton{
	background:transparent url(../images/arrow_up.png) no-repeat scroll center;
	border: 0px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 10px;
	cursor: normal;
	
	}
/* List View */

.listViews {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
    width:100%;
	font-size: 11px;
    font-weight: bold; 
}
	
ul.listViews li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.listViews li p{
	text-align: center;
	line-height: 30px;
}

ul.listViews a{
  float: left;
  color: #000000;
  padding: 4px 15px 2px 15px;
}
ul.listViews a.notSelected  {
	float: left;
	padding: 4px 15px 2px 15px;
	color: #000000;
 	background-repeat: repeat-x;
}
ul.listViews a.selected {
	float: left;
	padding: 4px 15px 2px 15px;
	color: #FFFFFF;
	background-repeat: repeat-x;
}

ul.listViews a:hover {
	text-decoration: underline;
}



.secondaryTabs .plaintab {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	width:100%;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 17px;
	border-bottom: 5px solid #006265;
}
	
.secondaryTabs ul.plaintab li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
  padding: 2px 15px 2px 15px;
}

.secondaryTabs ul.plaintab a{
  color: #000000;
	font-size:12px;
}

.secondaryTabs ul.plaintab li.selected {
	background:#006265;
}
.secondaryTabs ul.plaintab li.selected a {
	color: #FFFFFF;
	text-decoration:underline;
}

.secondaryTabs ul.plaintab li.notSelected a {
	color: #000000;
	text-decoration:none;
}
.secondaryTabs li.notSelected {
	background: #CCCC99;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #333333;
}

.cvtab .selected { font-weight:bold}

.TabCustomize {
	width: 100%;
}

.tabMove {
	border-top: 1px solid #E8E8D0;
	border-bottom: 1px solid #E8E8D0;
	background-color: #F3F3E9;
}

.TabCustomize .oddTab, .TabCustomize .evenTab {
	height: 30px;
}

.TabCustomize TD.activeItem, .TabCustomize TD.inactiveItem {
	width: 100%;
}

.TabCustomize TD.inactiveItem {
	color: #999;
}

.TabCustomize .tabActive, .TabCustomize .tabInactive {
	margin: 0px 7px 0px 7px;
	width: 7px;
	height: 6px;
	border: 0px;
	cursor: hand;
	cursor: pointer;
	background: transparent no-repeat;	
}

.TabCustomize .tabActive {
	background-image: url(../images/customization/active.gif);	
}

.TabCustomize .tabInActive {
	background-image: url(../images/customization/inactive.gif);
}

.TabCustomize .tabEdit, .TabCustomize .tabDelete, .TabCustomize .tabCancel {
	margin: 0px 3px 0px 3px;
	width: 14px;
	height: 14px;
	border: 0px;
	cursor: hand;
	cursor: pointer;
	background: transparent no-repeat;
}

.TabCustomize .tabEdit {
	background-image: url(../images/customization/edit.gif);
}

.TabCustomize .tabDelete {
	background-image: url(../images/customization/del.gif);
}

.TabCustomize .tabCancel {
	background-image: url(../images/customization/close.gif);
}
.dropDownTabButton{
	background:transparent url(../images/arrow_down.png) no-repeat scroll center;
	border: 0px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 10px;
	cursor:normal;
}
.dropDownTabVerticalButton{
	background:transparent url(../images/arrow_up.png) no-repeat scroll center;
	border: 0px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 10px;
	cursor: normal;
	}
.tabDropDownView{
	background:#FDFDF0;
	border-top: 1px solid #0D0D0D;
	border-bottom: 1px solid #0D0D0D;
	border-right: 1px solid #0D0D0D;
	border-left: 1px solid #0D0D0D;
	padding: 0px;
	opacity:.80;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.menuDropDownTab{
	border: 1px solid #709933;
	background-color: #EFEFC2;
	padding: 2px 2px 2px 2px;
	}