/* $Id$ */

.tableComponent {padding: 0px;width: 100%;color: #000000;font-size:11px;}
.tableHeader, .sortedTableHeader {font-size: 11px;font-weight: bold;padding: 1px 3px 1px 3px;color: #ffffff;text-align: left;white-space: nowrap;}
.secondaryBox .tableHeader, .secondaryBox .sortedTableHeader {
	color: #000000;
}

.tableHeader {
	background-color: #006666; 
}
.tableHeader1 {
	background-color: #00FFFF; 
}
.tableHeader2 {
	background-color: #FFE4E1; 
}
.tableHeader3 {
	background-color: #F4A460; 
}
.sortedTableHeader {
	background-color: #008888;
}

TH.tableHeader, TH.sortedTableHeader {
	border-top: 1px solid #E6E4D9;
	border-left: 1px solid #E6E4D9;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
}

.secondaryBox .tableHeader {
	background-color: #EBEBD8; 
}

.secondaryBox .sortedTableHeader {
	background-color: #DFDFC0;
}

.secondaryBox  TH.tableHeader, .secondaryBox TH.sortedTableHeader {
	border: 0px;
}

.tableComponent A  {color: #000000;text-align: left;text-decoration:underline;}
.tableHeader A, .sortedTableHeader A {color: #ffffff;text-decoration:none};
.secondaryBox .tableHeader A, .secondaryBox .sortedTableHeader A {color: #000000;text-decoration:none};

.tableComponent A:hover {text-decoration:underline;}
.evenRow {background-color: #F7F7EC;padding: 4px;border-bottom:1px solid #E6E4D9;}
.oddRow  {background-color: #F0F0E1;padding: 4px;border-bottom:1px solid #E6E4D9;}
.emptyRowMsg  {background-color: #FFFFFF;}
.hilite td {background-color: #FEDD98;}
.detailsShown td {background-color: #FEDD98;}
.selected td {background-color: #B9E6E6; border-bottom: 1px solid #87D3D3;}
.oddRow img, .evenRow img{
	padding-right:2px;
	padding-left:2px;
}


.sortButtonASC, .sortButtonDESC, .tableSearchButton, .columnEditButton , .tableSearchGoButton, .tableSearchCloseButton {
	vertical-align: middle;background:transparent;border: 0px;width: 16px;height: 16px;margin: 0px;padding: 0px;cursor: hand;cursor: pointer;
}
 .upwardButton ,.downButton {
	background:transparent;border: 0px;width: 100%;height: 100%;margin: 0px;padding: 0px;cursor: hand;cursor: pointer;
}
.tablediv{
	background-color:#7FFFD4; width: 60px}
.slidertrack{
	 background-color: rgb(170, 170, 170);
	}
.sliderhandle{
	 background-color: rgb(150, 100,100);
	}	
	
.navigatorDown,.navigatorUp{
	background-color:rgb(200, 170, 120);}

.upwardButton{background: url(../images/sortAsc.gif) no-repeat center;}
.downButton{background: url(../images/sortDesc.gif) no-repeat center;}
.sortedTableHeader .sortButtonASC {background: url(../images/sortAsc.gif) no-repeat center;}
.sortedTableHeader .sortButtonDESC {background: url(../images/sortDesc.gif) no-repeat center;}
.columnEditButton {background: url(../images/columnedit.gif) no-repeat center;}
.tableSearchButton{background: url(../images/search.gif) no-repeat center;}
.tableSearchCloseButton{background: url(../images/search.gif) no-repeat center;}
.tableSearchGoButton{background: url(../images/go.gif) no-repeat center;}

.msgContent{background-color: #FFFFFF;border: 1px solid #000000;padding:2px;color: #000000;}
.hideMessageButton{background: url(../images/foldup.gif) no-repeat center;}

.tableMenu {width:100%;}
.tableDropDownMenu {width:100%;}
.propertySheetTable {
	width: 100%;
}

.propertySheetTable .tableHeader {
    color: #000000;
    text-decoration:none;
}

.messageInvoker {
	padding: 0px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	height: 16px;
	width: 15px;
	margin: 1px;
	background: url(../images/pulldown_big.gif) transparent no-repeat;
}

.completeMessage {
	padding:0px;
	background: transparent;
}
.completeMessage .caTopLeft {
	background: url(../images/box/caTopLeft.gif) no-repeat right;
	height:20px;
	width:7px;
}
.completeMessage .caTopCenter {
	background: url(../images/box/caTopCenter.gif) repeat-x left;
	width:250px;
	height:20px;
}
.completeMessage .caTopRight {
	background: url(../images/box/caTopRight.gif) no-repeat left;
	height:20px;
	width:6px;
}
.completeMessage .caMiddleLeft {
	background: url(../images/box/caMiddleLeft.gif) repeat-y right;
}
.completeMessage .caMiddleRight {
	background: url(../images/box/caMiddleRight.gif) repeat-y left;
	width:7px;
}
.completeMessage .caBottomLeft {
	background: url(../images/box/caBottomLeft.gif) no-repeat right;
	height:8px;
	width:7px;
}
.completeMessage .caBottomCenter {
	background: url(../images/box/caBottomCenter.gif) repeat-x left;
	height:8px;
}
.completeMessage .caBottomRight {
	background: url(../images/box/caBottomRight.gif) no-repeat left;
	height:8px;
	width:7px;
}
.completeMessage .caMessage {
	background: #FFF0F0;
	font: Bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
}
.completeMessage .caClose{
	text-align:right;
	vertical-align: top;
	background: #FFF0F0;
}

.completeMessage .caCloseButton {
	background-image: url(../images/box/closeBtn.gif);
	background-repeat: no-repeat;
	border-top: 0px solid #C7E6FF;
	border-left: 0px solid #C7E6FF;
	border-right: 0px solid #4DA9F2;
	border-bottom: 0px solid #4DA9F2;			
	height: 13px;
	width: 13px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

.searchRow th, .searchRow .tableHeader, .searchRow .sortedTableHeader .sortedTableHeader { 
	background-color: #ECECEC;
	border:0px;
	border-top	: 1px solid #aaa;
	border-bottom	: 1px solid #aaa;
	font-weight: bold;
	color: #174F02;
	padding:0px 5px 0px 5px;
	height:20px;	
	text-decoration: none;
	white-space: nowrap;
} 

.searchRow .sortedTableHeader .sortedTableHeader, .searchRow .tableHeader .tableHeader {
	border:0px;
}

.searchRow th .tableSpotSearch{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	width: 100%;
	border: 1px solid #888888;
	padding:1px;
} 
.paraSpotSearch{
	line-height:0px;
	text-align:center;
	height:15px;
	width:125px;
}
.colSpotSearch{
	width:135px;
	height:20px;
	valign='top';
	cellspacing='0';
	cellpadding='0';
}
.cellSpotSearch{
	width:135px;
	height:20px;
}
.spanSpotSearch{
	font-family:arial;
	font-size:11px;
	color:#828282;
	font-weight:normal;
	position:relative;
	top:2px;
	right:122px;
	width:125px;
	height:14px;
	display:inline-block;
}
.uicomponent th p { padding:0; margin:0; text-align:left !important;}
.uicomponent th { padding-top:10px !important;padding-bottom:10px !important; margin:0;} 
/*Export styles*/

div.exportlinks {
	background-color: #ECECEC;
	border: 1px dotted #999;
	padding: 0px 0px 0px 0px;
	margin: 5px 0 0px 0;
	width: 99.9%;
}
.exportHeader {
	background-color: #00666; 
}

span.export {
	
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	padding: 0 4px 1px 20px;
	background-image: url(../images/ico_file_excel.png);
			background-repeat: no-repeat;
}

span.csv {
	padding: 0 4px 1px 20px;
	background-image: url(../images/ico_file_csv.png);
		background-repeat: no-repeat;
}

span.pdf {
	padding: 0 4px 1px 20px;
	background-image: url(../images/ico_file_pdf.png);
		background-repeat: no-repeat;
}

span.json {
	padding: 0 4px 1px 37px;
	background-image: url(../images/json.gif);
		background-repeat: no-repeat;
}

span.html {
	padding: 0 4px 1px 37px;
	background-image: url(../images/html.png);
		background-repeat: no-repeat;
}

span.title{

	font-weight:bold;
	font-size:18px;
	text-align:center;
}
span.empty_message{

	float:left;
	font-weight:normal;
	font-size:14px;
	margin-top:10px;
	text-align:center;
}

span.icon{
	float:left;
	border:0px;
	padding:0px;
}

.hlsearch {
	font-weight: bold;
	background-color:#FFFF00
}
.ScrollDiv
{
	float:left;
	overflow-y:scroll;
	overflow-x:hidden;
	height:285px;
	border: 0px;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px;
	width:100%;
	
}
.evenRowSliderTable {background-color: #F7F7EC;padding: 4px;border-bottom:1px solid #E6E4D9;word-wrap: break-word;white-space: pre-wrap;}
.oddRowSliderTable {background-color: #F0F0E1;padding: 4px;border-bottom:1px solid #E6E4D9;word-wrap: break-word;white-space: pre-wrap;}  

.SlideTableRow
{
	
}
.sortedColumnSliderTable
{
	word-wrap: break-word;
}
.dynamicTableStatus{
	background-color:#F0F0E1;
	border-top:1px solid #E6E4D9;
	color:#000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	padding:5px;
	width:100%;
}
TABLE.dynamicTableStatus SPAN { 
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
.dynamicTableStatus .status {
	width: 100%;
	float:right; 
}
.tableFetchingUpdateStatus{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	color: black;
	padding : 7px;
    border:1px;	
    padding: 5px; 
    font-size: 20px; 
    color: rgb(0, 0, 0); 
    opacity: 0.753; 
    background-image: none; 
    background-color: red;
}
