/* $Id$ */
/*************** Box Table Styles *******/

.hideBoxContent{
background-color: #F7F7F4; width:100%;

}

.hideBoxContent div, .box_hide {
  display: none;
}

.NavigationBox{
	width: 100%;
	border-collapse: collapse;
      border-left: 1px solid blue;
      border-right: 1px solid blue;
      border-bottom: 1px solid blue;
}

.SecondaryBox {
	width: 100%;
	border: 0px;
	padding:0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.PrimaryBox{
	width: 100%;
	padding:0px;
	border-spacing: 0px;
	border-collapse: collapse;
      border-left: 1px solid blue;
      border-right: 1px solid blue;
      border-bottom: 1px solid blue;
}

/*************** Box Header Styles *******/

.boxHeader {
	font-size: 12px;
	font-weight: bold;
	text-align: Left;
	padding-left: 5px;
	padding-right: 5px;
	white-space:nowrap;
	height: 22px;
	color: #FFFFFF;
}


.NavigationBox .boxHeader {
	background-color: #1966F4;
	border-left: 1px solid blue;
}

.PrimaryBox .boxHeader {
	background: url(../images/headingAlone.gif) repeat-x right top;
	border-left: 1px solid blue;
}

.PrimaryBox .boxCtrlButtonPane{
	background: url(../images/primaryboxheading.gif) repeat-x right top;
}

.SecondaryBox .boxHeader {
background: #F5F5F5;
background: url(../images/topmiddle.gif) repeat-x bottom;	
padding: 0px;
padding-bottom: 8px;
border-left: 0px solid #FFFFFF;
color: #000099;
width:100%;
}

.boxCtrlButtonPane {
	width:1px;
	background-color: #1966F4;
}

.SecondaryBox .boxCtrlButtonPane {
	background: #F5F5F5;
background: url(../images/topmiddle.gif) repeat-x bottom;	
padding-bottom: 8px;
}

.minButton, .maxButton {
	border: 0px;
	padding: 3px;
	height: 16px;
	width: 16px;
	margin: 0px;
}

.maxButton { 
	background: url(../images/arrow_down.png) no-repeat center;
}

.minButton {
	background: url(../images/arrow_up.png) no-repeat center;
}

.box_hide {
	display: none;
}

/*********** Box Content Styles ************/
.boxContent {
      text-align: center;
	vertical-align: top;
}

.PrimaryBox .boxContent {
	background: #F5F5F5;
}


.SecondaryBox .boxContent {
     background: #FFFFFF;
     border-left: 1px solid #0B8EE6;
     border-right: 1px solid #0B8EE6;
}

.SecondaryBox .boxContent .oddRow, .SecondaryBox .evenRow {
	background: #FFFFFF;
}


/************ Box Left Styles ***********/

.SecondaryBox .boxTL, .SecondaryBox .boxTR  {
	padding: 0px;
	width:6px;
}

.SecondaryBox .boxTL {
background: url(../images/topLeft.gif) no-repeat left bottom;
}

.SecondaryBox .boxTR {
background: url(../images/topRight.gif) no-repeat bottom;
}

.SecondaryBox .boxBL {
background: url(../images/bottomLeft.gif) no-repeat left top;
}
.SecondaryBox .boxBR {
background: url(../images/bottomRight.gif) no-repeat right top;
}

.SecondaryBox .boxBC {
background: url(../images/bottommiddle.gif) repeat-x;
height: 5px;
}
