/* $Id$ */
.bodytext {
	font-weight: bold;
}
.title {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

moveUP, .moveDown, .add, .addAll, .removeColumn,.removeAll {
	height: 20px;
    width: 24px;
	border-top: 1px solid #E8E8E8;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #E8E8E8;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.moveUP{
	background: #E5E5E5 url(../images/columnchooser/moveUp.gif) no-repeat center center;
}

.moveDown {
	background: #E5E5E5 url(../images/columnchooser/moveDown.gif) no-repeat center center;
}

.add {
	background: #E5E5E5 url(../images/columnchooser/add.gif) no-repeat center center;
}

.addAll {
	background: #E5E5E5 url(../images/columnchooser/addAll.gif) no-repeat center center;
}

.removeColumn {
	background: #E5E5E5 url(../images/columnchooser/remove.gif) no-repeat center center;
}

.removeAll {
	background: #E5E5E5 url(../images/columnchooser/removeAll.gif) no-repeat center center;
}

.ccListTable {
	padding:0px;
	border-spacing:0px;
	border-collapse:collpase;
}

.ccListHeader {
	background: url(../images/headingAlone.gif) repeat-x right top;
	font-weight: bold;
	font-size:12px;
	padding:3px;
	color: #FFFFFF;
	width:200px;
	text-align: center;
}

.ccSelected {
	padding: 4px;
	background-color: #CCDEEB;
	border-bottom:1px solid #CCCCFF;
}

.ccNotSelected {
	padding: 4px;
	border-bottom:1px solid #CCCCFF;
}
