/* $Id$ */

/***************************  Html Element Styles ****************************/

BODY, TABLE, SPAN, DIV, UL, LI, A {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
}

BODY {
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
	color: #000000;
}

SELECT {
	width: 125px;
}

IMG {
	border: 0px;
	vertical-align: middle;
	margin: 0px;
}

FORM {
	padding:0;
	margin:0;
}

OPTION{
	padding: 2px;
	margin: 2px;
}


INPUT {
	border: 1px solid #cccccc;
	font: 11px;
	background: #ffffff;
}
/****************************** Common Styles ********************************/

.hide {
	display: none;
}
