/* $Id$ */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}
.selector {
	border:2px solid #003399;
}
.selector1 {
	border:1px solid #00FF06;
	cursor:hand;
	cursor:pointer;
}
.sideBarHdr, .toolbarBg, .txtBox, .navBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.sideBarHdr {
	font-size: 11px;
	font-weight: bold;
	background-image: url(../images/sidebar_hdr.gif);
	background-repeat: repeat-x;
	height: 22px;
	padding-left: 4px;
}

.toolbarBg {
	font-size: 10px;
	font-weight: normal;
	background-color: #C7E5FF;
	height: 20px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.txtBox {
	font-size: 10px;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #000000;
}

.navBar {
	background-color: #EBF6FD;
	text-align: right;
	padding: 3px;
	border-bottom: 1px solid #BFD2E3;
}

.sep {
	color: #6D98B5;
}

.viewList {
	background-color: #FFFFFF;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #BFD2E3;	
}

.rightBg {
 	background-color: #EBF6FD;
}

.notesBg {
	background-color:#FFFFFF;
	margin:5px;
}

.notesShadowBg {
	background-color: #BFD2E3;
}

.notesHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	border-bottom: 1px solid #BFD2E3;
}
.notesContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #9DAAB3;
	padding:3px;
	padding-left: 10px;
}
.pageHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	height:35px;
	padding:3px;
	padding-left:10px;
	background-image:url(../images/titleImg.gif);
	background-repeat:repeat-x;
	font-weight: bold;
}

.editAreaBg {
	background-image: url(../images/editBg.gif);
	background-repeat: repeat;
	padding: 5px;
}

.editAreaBorder {	
	border: 1px solid #79BAEF;
}

.editAreaMenuBar {
	background-color: #C7E6FF;
	height:18px;
}

td.editAreaMenuBar a:link, td.editAreaMenuBar a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

td.editAreaMenuBar a:hover {
text-decoration:underline;
}

.emptyCell {
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background: #FEFDD2;
	border-top :1px solid #D9D48C;
	border-left :1px solid #D9D48C;
	border-bottom: 1px solid #FEFDEC;
	border-right: 1px solid #FEFDEC;		
}
.confBg {
	background:#E4EEF5;
}
.confHdrText {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
}
.confHdrBg {
	background:#CADCE7;
}
.confTable {
	border:1px solid #CADCE7;
}
.confContent {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #5C798B;
	vertical-align:top;
}
.txtField {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-top: 1px solid #5C798B;
	border-left: 1px solid #5C798B;
	border-right: 1px solid #CADCE7;
	border-bottom: 1px solid #CADCE7;			
}
.moreBtn, .lessBtn, .formatBtn {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 0px;
	background:transparent;
	padding-right:13px;
}
.formatBtn {
border-bottom: 1px solid #5C798B;
border-right: 1px solid #5C798B;
border-top: 1px solid #FFFFFF;
border-left: 1px solid #FFFFFF;
}
.moreBtn {
	background: #CADCE7 url(../images/moreBtn.gif) no-repeat right;
}
.lessBtn {
	background: #CADCE7 url(../images/lessBtn.gif) no-repeat right;
}
.level1 {
	border-bottom: 1px solid #CADCE7;
}
.imgStyle {
	margin:5px;
}

.tabOn, .tabOff {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-weight: Bold;	
}
.tabOn {
	color:#000000;
}
.tabOff {
	color:#5C798B;
}
.tableMargin {
	margin-right:4px;
	margin-left:4px;
}
.tableMarginAndBorder {
	border-right:1px solid #CADCE7;
}
.tabBorder {
	border-bottom:3px solid #4F7BCA;
}
.btnPanel {
border-top:1px solid #4F7BCA;
}
