/* $Id$ */
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
color: #000000;
margin: 0px;
padding: 0px;
				 background-color: #FFFFFF;
}

a {
	text-decoration:none;
}
a:hover {	
	text-decoration:underline;
}
.sideBarHdr, .toolbarBg, .txtBox, .navBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.sideBarHdr {
	font-size: 11px;
	background-image: url(../images/sidebar_hdr_off.gif);
	background-repeat: repeat-x;
	height: 24px;
	padding-left: 4px;
}

.sideBarHdrOn {
	font-size: 11px;
	font-weight: bold;
	background-image: url(../images/sidebar_hdr_on.gif);
	background-repeat: repeat-x;
	height: 24px;
	padding-left: 4px;
}

.sideBarHdr a{
	text-decoration: none;
	color: #000000;
}

.toolbarBg {
	font-size: 10px;
	font-weight: normal;
	background-color: #CCDEEB;
	height: 20px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.txtBox {
	font-size: 10px;
	font-weight: normal;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #000000;
}

.navBar {
	background-color: #FFFFFF;
	text-align: right;
	padding: 3px;
}

.sep {
color: #6D98B5;
}

.smTopLeft, .smTopRight {
height: 16px;
width: 6px;
}

.smTopLeft {
background: url(../images/sm_leftTop.gif) top left;
						background-repeat: no-repeat;
}

.smTopRight {
background: url(../images/sm_rightTop.gif) top right;
						background-repeat: no-repeat;
}
.smTopBg {
	background-image: url(../images/sm_topBg.gif);
	background-repeat: repeat-x;
	text-align:left;
	vertical-align: middle;
width: 99%;
height: 16px;
}

.smDragButton {
background: transparent;
padding: 0px;
margin: 0px;
width:25px;
height:14px;
			 background-image: url(../images/dragArea.gif);
			 background-repeat: no-repeat;
border: 0px solid #000000;
cursor:move;
}

TABLE.viewSelected .smDragButton {
	cursor:default;
}

.smContent {
	background-color: #F4FAFE;
	border-top: 1px solid #F4FAFE;
	border-left: 1px solid #B8D9F7;
	border-right: 1px solid #B8D9F7;
	border-bottom: 1px solid #B8D9F7;
	text-align:center;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
}

TABLE.viewSelected .smTopLeft, TABLE.viewSelected .smTopRight {
height: 16px;
width: 5px;
}
TABLE.viewSelected .smTopLeft {
background: url(../images/sm_leftTop_dis.gif) top left;
						background-repeat: no-repeat;
}
TABLE.viewSelected .smTopRight {
background: url(../images/sm_rightTop_dis.gif) top right;
						background-repeat: no-repeat;
}
TABLE.viewSelected .smTopBg {
	background-image: url(../images/sm_topBg_dis.gif);
	background-repeat: repeat-x;
	text-align:left;
	vertical-align: middle;
width: 99%;
height: 16px;
}
TABLE.viewSelected .smContent {
	background-color: #FFFFFF;
	border-top: 1px solid #F4FAFE;
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	border-bottom: 1px solid #E1E1E1;
	text-align:center;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #999999;
}

.viewList {
	background-color: #FFFFFF;
padding: 5px;
				 text-align: center;
				 border-bottom: 1px solid #BFD2E3;	
}

.paneBg {
	background: url(../images/separators.gif) top;
	background-repeat: repeat-y;
}

.rightBg {
	background-color: #CCDEEB;
}

.notesBg {
	background-color:#FFFFFF;
margin:5px;
}

.notesShadowBg {
	background-color: #BFD2E3;
}

.notesHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
color: #000000;
			 border: 1px solid #BFD2E3;
}
.notesContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
color: #000000;
padding:3px;
				padding-left: 10px;
}

.wkTopLeft, .wkTopRight {
height: 22px;
width: 5px;
}

.wkTopLeft {
background: url(../images/wk_leftTop.gif) top left;
						background-repeat: no-repeat;
}

.wkTopRight {
background: url(../images/wk_rightTop.gif) top right;
						background-repeat: no-repeat;
}

.wkTopBg {
	background-image: url(../images/wk_topBg.gif);
	background-repeat: repeat-x;
	text-align:left;
	vertical-align: middle;
width: 99%;
height: 22px;
}

.wkDragButton {
background: transparent;
padding: 1px;
				 margin-left: 4px;
				 margin-right: 4px;
margin: 0px;
width:29px;
height:14px;
			 background-image: url(../images/wk_dragArea.gif);
			 background-repeat: no-repeat;
border: 1px none #000000;
}

.wkDragPipe {
background: transparent;
padding: 1px;
				 margin-left: 4px;
				 margin-right: 4px;
margin: 0px;
width:29px;
height:14px;
			 background-image: url(../images/dragPipe.gif);
			 background-repeat: no-repeat;
border: 1px none #000000;
}

.lastDragged .wkContent {
	color: red;
}

.wkContent {
	background-color: #F4FAFE;
	border-top: 1px solid #F4FAFE;
	border-left: 1px solid #51A9F1;
	border-right: 1px solid #51A9F1;
	border-bottom: 1px solid #51A9F1;
			 text-align:center;
padding:2px;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
cursor: move;
}

TABLE.vtabClass .wkContent {
	background-color: #F4FAFE;
	border-top: 0px solid #F4FAFE;
	border-left: 0px solid #51A9F1;
	border-right: 0px solid #51A9F1;
	border-bottom: 1px solid #B8D9F7;
	padding:2px;
 	text-align:left;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: move;
}

TABLE.vtabClass .lastDragged .wkContent {
	color: red;
}

.lastDragged .wkContentTab{ 
	color: red;
}

.wkContentTab{ 
	background-image: url(../images/wk_topBg.gif);
	background-repeat: repeat-x;
	vertical-align: middle;
	width: 99%;
	height: 22px;
	cursor:move;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.tabClass {
	border-bottom: 2px solid #51A9F1;
	padding: 0px 8px 0px 8px;
}

.vtabClass {
	border: 1px solid #51A9F1;
	padding: 0px;
	background: #FFFFFF;
}

.closeLink {
	background-image: url(../images/closeLink.gif);
	background-repeat: no-repeat;
	border-top: 0px solid #C7E6FF;
	border-left: 0px solid #C7E6FF;
	border-right: 0px solid #4DA9F2;
	border-bottom: 0px solid #4DA9F2;			
	height: 13px;
	width: 13px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

.closeButton, .resizeButton, .editButton {
	background-repeat: no-repeat;
	border-top: 0px solid #C7E6FF;
	border-left: 0px solid #C7E6FF;
	border-right: 0px solid #4DA9F2;
	border-bottom: 0px solid #4DA9F2;			
	height: 13px;
	width: 13px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}
.closeButton {
	background-image: url(../images/closeBtn.gif);
}

.resizeButton {
	background-image: url(../images/resizeBtn.gif);
}

.editButton {
	background-image: url(../images/editBtn.gif);
}


.backButton {
font : normal 10px Verdana, Arial, Helvetica, sans-serif;
			 background-image: url(../images/btnBg.gif);
			 background-repeat: repeat-x;
			 border-top: 1px solid #FFFFFF;
			 border-left: 1px solid #FFFFFF;
			 border-right: 1px solid #000000;
			 border-bottom: 1px solid #000000;			
height: 16px;
				margin-left:5px;
				margin-right:5px;
				vertical-align:middle;
				text-align: center;
	cursor:hand;
	cursor:pointer;
}

.resizeView {
	border: 1px solid #42A2F0;
	background-color: #C7E6FF;
	color: #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.expandLeft, .expandRight, .expandTop, .expandBottom, .expandLeftDis, .expandRightDis, .expandTopDis, .expandBottomDis {
	font : normal 10px Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #C7E6FF;
	border-left: 1px solid #C7E6FF;
	border-right: 1px solid #4DA9F2;
	border-bottom: 1px solid #4DA9F2;			
	height: 16px;
	width: 20px;
	margin:2px;
	padding: 1px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

.expandLeft {
	background-image: url(../images/expLeft.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.expandRight {
	background-image: url(../images/expRight.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.expandTop {
	background-image: url(../images/expUp.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.expandBottom {
	background-image: url(../images/expDown.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.expandLeftDis {
	background-image: url(../images/expLeftDis.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.expandRightDis {
	background-image: url(../images/expRightDis.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.expandTopDis {
	background-image: url(../images/expUpDis.gif);
	background-repeat: no-repeat;
	background-position: center;
}
.expandBottomDis {
	background-image: url(../images/expDownDis.gif);
	background-repeat: no-repeat;
	background-position: center;
}

.emptyCell {
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background: #FEFDD2;
	border :1px solid #D9D48C;
}

.emptyCellHover {
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background: #FBF997;
	border :1px solid #D9D48C;
}

.emptyCellEnd {
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
}

.emptyCellEndHover {
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background: #FBF997;
	border :1px solid #D9D48C;
}


.usageText {
	background: #F1F1F1;
	width:95%;
	text-align:center;
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

.usageTable {
	width:60%;
	padding: 5px;
}

.sideBarTitle {
	font : 14px Arial, Verdana, Helvetica, sans-serif;
	background: url(../images/sbBg.gif) repeat;
	font-weight : bold;
	padding: 5px;
}
.psTableLayout {
	vertical-align:top;
}
.psTableLayout .wkContent {
	border-top: 1px solid #F4FAFE;
	border-left: 0px solid #51A9F1;
	border-right: 0px solid #51A9F1;
	border-bottom: 1px solid #51A9F1;
			 text-align:center;
font: normal 11px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
cursor: move;
}

.PSLabel {
	padding:2px;
	background-color: #83AED5;
cursor: move;
}

.PSFieldName {
	padding:2px;
	background-color: #83C6F6;
cursor: move;
}

.PSFieldValue {
	padding:2px;
	background-color: #F6FAFF;
cursor: move;
	border: 1px solid #83C6F6;
}

.customLayout {border: 0px dashed #000000;border-spacing:8px;padding:0px;margin-left: auto;margin-right: auto;}

.psTableLayout .customLayout {border: 1px dashed #000000;border-spacing:2px;padding:0px;margin-left: auto;margin-right: auto;}

.psTableLayout .horIndicator, .psTableLayout .verIndicator {
	display:none;
}
.psContent {
	background-color: #F4FAFE;
	border-top: 1px solid #F4FAFE;
	border-left: 1px solid #B8D9F7;
	border-right: 1px solid #B8D9F7;
	border-bottom: 1px solid #B8D9F7;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
}
.LabelCreator .viewSelected{
	background-color: #F4FAFE;
	border-top: 1px solid #F4FAFE;
	border-left: 1px solid #B8D9F7;
	border-right: 1px solid #B8D9F7;
	border-bottom: 1px solid #B8D9F7;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
	cursor:hand;
	cursor:pointer;

}

.CustomCPS .viewSelected{
	margin-bottom:5px;
	margin-top:8px;
	background-color: #F4FAFE;
	border-top: 1px solid #F4FAFE;
	border-left: 1px solid #F4FAFE;
	border-right: 1px solid #B8D9F7;
	border-bottom: 1px solid #B8D9F7;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
	cursor:hand;
}

.CustomCPS .viewNotSelected{
	margin-bottom:5px;
	margin-top:8px;
	background-color: #99AACC;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
	cursor:hand;
	cursor:move;

}

.CustomCPS .viewSelected .smContent {
	border: 0px solid #F4FAFE;
	text-align:center;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #999999;
}

.CustomCPS .viewNotSelected .smContent {
	background-color: #99AACC;
	border: 0px solid #14FAFE;
	text-align:center;
padding:2px;
font: normal 10px Verdana, Arial, Helvetica, sans-serif;
color: #000000;
}


/*************** Documented Stuff ************/

.pageHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	height:35px;
	padding:3px;
	padding-left:10px;
	background-image:url(../images/titleImg.gif);
	background-repeat:repeat-x;
}
.editAreaBorder {border: 1px solid #CCDEEB;border-spacing:0px;padding:0px;width:90%;margin-left: auto;margin-right: auto;}

.editAreaMenuBar {background-color: #CCDEEB;height:18px;white-space:nowrap;padding-left:5px;}

td.editAreaMenuBar a:link, td.editAreaMenuBar a:visited {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

td.editAreaMenuBar a:hover {text-decoration:underline;}

.undoDisabled, .redoDisabled, .undo, .redo, .expand, .collapse, .showSideBar, .hideSideBar, .warning {
	background: transparent;
	background-repeat: no-repeat;
	border: 0px;
	height: 16px;
	width: 16px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

.undoDisabled {background-image: url(../images/undo_disabled.gif);}

.redoDisabled {background-image: url(../images/redo_disabled.gif);}

.redo {background-image: url(../images/redo.gif);}

.undo {background-image: url(../images/undo.gif);}

.editAreaBg {background-image: url(../images/editBg.gif);background-repeat: repeat;padding: 5px;}

.expand, .collapse{width:8px;height:8px}

.showSideBar, .hideSideBar{width:10px;height:86px}

.showSideBar {background-image: url(../images/showButton.gif);}

.hideSideBar {background-image: url(../images/hideButton.gif);}

.expand {background-image: url(../images/expand.gif);}

.collapse {background-image: url(../images/collapse.gif);}

.warning {background-image: url(../images/warning_ico.gif);cursor:default;}


