/* $Id$ */
/**
 * Indicates the selected and not selected views in the available views
 */
.viewSelected  {
 	background: #B3FAFC;
	height:20px;
}

/**
 * The cursor to be shown when a mouse over is done on any of the available views
 */
.cursor {
	cursor:move;
}

/**
 * The movable hidden div class. Better not to touch it.
 */
.movable {
	border: 1px solid #000000;
	position: absolute;
	cursor: move;
}

/**
 * The table representing each view in the available list
 */
.lvRowTable {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
}

/**
 * The <TD> present in the edit section
 */

.dummyView {
	margin:2px;
	padding:2px;
	background: #FFFFFF url(../images/edit_bg.gif) repeat;
}

.dummyViewHover {
	margin:2px;
	padding:2px;
 	background: #000000;
	border: 1px: solid #E5E5E5;
}

.editView {
	cursor:move;
}

#tabCustom .editView {
	height: 20px;
}

#gridCustom .editView {
	height: 75px;
}

.editViewHover {
	padding:3px;
	height: 75px;
 	background: #6666CC;
	color: #FFFFFF;
	border: 1px: solid #E5E5E5;
}

#gridCustom .editViewHover {
	height: 75px;
}

#tabCustom .editViewHover {
	height: 20px;
}

.editTable {
	width: 50%;
	padding: 0px;
}

.removeViewHover {
	height: 20px;
 	background: #6666CC;
	border: 1px: solid #E5E5E5;
}

#tabCustom .removeViewHover {
	height: 20px;
}

#gridCustom .removeViewHover {
	height: 75px;
}

.removeview {
	background-color: #d4d0c8;
	height: 20px;
	padding: 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}

#tabCustom .removeview {
	height: 20px;
}

#gridCustom .removeview {
	height: 75px;
}

.remove {
	height: 16px;
	width: 16px;
	background: #D4D0C8 url(../images/remove.gif) no-repeat center center;
}

.gridStatus {
	font-weight: bold;
}

.layoutViews {
	background: #FFFFFF url(../images/edit_bg.gif) repeat;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.placeHolder{
	padding:2px;
	background: #3756A6;
}

.disabled {
	background: #FFFFFF;
}

.verIndicator{
	background: #82ADD4;
	border-top: 1px solid #C7E6FF;
	border-left: 1px solid #C7E6FF;
	border-right: 1px solid #6387A7;
	border-bottom: 1px solid #6387A7;
	color: #000000;
	height: 100%;
}

.horIndicator{
	background: #82ADD4;
	border-top: 1px solid #C7E6FF;
	border-left: 1px solid #C7E6FF;
	border-right: 1px solid #6387A7;
	border-bottom: 1px solid #6387A7;
	color: #000000;
	line-height: 12px;

}

.viewLayout {
	background: #f0f0f0;
	border: 1px solid #f0f0f0;
	margin: 5px;
	padding: 5px;
	width: 99%;
}

.layoutHeader{
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	background: #333366;
	line-height: 20px;
	color:#FFFFFF;
	text-align: center;
}

