/* $Id$ */
.errorBg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #F5F5F5;
	border: 1px solid #E5E5E5;
}
.errorTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.errorContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	padding-right: 10px;
	padding-left: 20px;
}
.errorDetails {
	padding: 5px;
}
.errorTrace {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #006699;
	background-color: #FFFFFF;
	border: 1px solid #E5E5E5;
}
.errorTraceHdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:10px;
	font-weight: bold;
	color: #006699;
	background-color: #E5E5E5;
	height: 24px;
}
.errorImage {
	background-image: url(../images/warn_32.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 40px;
	width: 40px;
}
