/* $Id$ */

        /******* Added by Suresh C Nair *********/

a:hover {
	  text-decoration: underline;
}

a:link {
	  text-decoration: underline;
      color: #000000;
}
        /**************************************/
				
.productLogo {
	border: 0px;
	width: 100%;
	height: 37px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse:collapse;
  background-image: url(../images/topBg.gif);
	background-repeat: repeat;
}

.productTabs {
	border: 0px;
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	border-collapse:collapse;
      background-color: #FFFFFF;
	background-repeat: repeat;
	border-bottom: 5px solid #1966F4;
}

.productTabs TD{
	padding:0px;
}

.productSearch {
	white-space:nowrap;
}

.topLinks {
	font-size:10px;
	text-align: right;
	vertical-align: middle;
}

.topLinks a:link, .topLinks a:visited {
	color: #0000EE;
	text-decoration: underline;
	font-family: Verdana, Helvetica, sans-serif;
}

.topLinks a:hover {
	text-decoration: underline;
}

.dacTable {
	width:100%;
	vertical-align:top;
	padding: 0px;
	border-spacing: 0px;
	border-collapse:collapse;
}

.navigationBar {
	background:#E9E9F7;
	height:100%;
}

.actionBar {
	background:#E9E9F7;
	height:100%;
}


.dacCell {
	padding-left:10px;
	padding-top:0px;
}

body {
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
}

img {
	border: 0px;
	vertical-align: middle;
	margin: 0px;
}

.showDivBorder{
	border: 1px dashed #FFAE00;
	margin: 0px;
	padding: 1px;
}
.divBorder{
	border: 1px none #FF0000;
	margin: 0px;
	padding: 1px;
}

/***** Added By Suresh C Nair ******/

.border{
	background-color: #000099;
}
