/* $Id$ */
.layoutTable { solid #628B43; background-color: #DDEAD5; width: 100%; height: 100%; border-spacing: 1; }
.headerCell1, .headerCell2, .quickLinkCell, .footerCell { vertical-align: top; background-color: #FFFFFF; font-family: Arial, Helvetica, sans-serif; font-size: 10px;}
.headerCell1 { width: 255px; height: 52px; vertical-align: middle; }
.headerCell2 { height: 52px; vertical-align: bottom; text-align: center; padding: 0;}
.quickLinkCell { width: 255px; height: 90%; }
.footerCell { width: 100%; height: 5%; vertical-align: middle;}
.loadingTime, .copyright { color: #628B43; font-weight: bold;}
.loadingTime { float: left;}
.copyright { float: right;}

.uicomponent#Index_CT {
  width: 100%;
  height: 100%;
}

#MainTab_CT ul.plaintab {
    position:relative;
    left: 2%;   
    right: 10%;   
}

#MainTab_CT ul.plaintab li{
	border-right: 0px solid #DDEAD5;
	border-bottom: 2px solid #DDEAD5;
	border-left: 1px solid #DDEAD5;
	background-color: #6B974A;
	border-top-width: 0px;
	border-top-color: #DDEAD5;
	letter-spacing: 0.2em;
}


#MainTab_CT ul.plaintab a.selected {
	background-color: #DDEAD5;
	color: #000000;
}

#MainTab_CT ul.plaintab a{
	color: #FFFFFF;
}


