/*$Id$*/

/*Styles for horizontally oriented menus */
ul.hmenu{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
    width: 100%;
}

ul.hmenu li{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
    padding: 2px 4px 2px 4px;
}

ul.hmenu a{
      float: left;
      color: #000000;
      text-decoration: none;
}

ul.hmenu a:hover{
	text-decoration: underline;
}

/*Styles for vertically oriented menus */
ul.vmenu{
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline;
}

ul.vmenu li{
	margin: 0;
	list-style: none;
	padding: 2px 4px 2px 4px;
	text-align:left;
}

ul.vmenu a{
	display: block;
	text-decoration: none;
	color: #000000;
}

ul.vmenu a:hover{
	text-decoration: underline;
}

/*.menuButton {
   font: bold 11px Verdana, Arial, Helvetica, sans-serif;
   color: #000000;
   border: 1px solid #666666;
   width: 100px;
   background: url(../images/btn_bg.gif) repeat-x;
   height: 20px;
}*/

ul.hmenubutton{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	background: #F5F5F5;
	border: #D5D5D5 1px solid;
}

ul.hmenubutton li{
	float: left;
	margin: 0;
	list-style: none;
	padding: 0px;
}

ul.hmenubutton a{
	float: left;
	color: #000000;
	text-decoration: none;
	padding: 2px 8px 2px 8px;
	background: #F5F5F5;
	height: 15px;
}

ul.hmenubutton a:hover {
	text-decoration: none;
	background: #8DB1EE;
	color: #FFFFFF;
}

ul.vmenubutton{
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline;
}

ul.vmenubutton li{
	margin: 0;
	list-style: none;
	padding: 2px 4px 2px 4px;
}

ul.vmenubutton a{
	display: block;
	text-decoration: none;
	border-right: #628B43 1px solid;
	border-top: #628B43 1px solid;
	background: #C5E1A2;
	border-left: #628B43 1px solid;
	border-bottom: #628B43 1px solid;
	color: #000000;
	padding: 5px 10px 5px 10px;
}

ul.vmenubutton a:hover{
	text-decoration: none;
}

/*.menubutton {
    border-right: #628B43 1px solid;
    border-top: #628B43 1px solid;
    font-size: 11px;
    background: #C5E1A2;
    border-left: #628B43 1px solid;
    cursor: hand; COLOR: #01155A;
    border-bottom: #628B43 1px solid;
    height: 20px;
    color: #000000;
    text-decoration: none
}*/
