/* $Id$ */
.navigatorTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000099;
	background-color: #CCDEEB;
	width:100%;	
	line-height:10px;
	padding:5px;
}

TABLE.navigatorTable TR {
}

.navigatorDetailsColumn{
	vertical-align: middle;
}

.navigatorLinksColumn{
	vertical-align: middle;
	text-align: center;
}

.navigatorRangeColumn{
	vertical-align: middle;
}

TABLE.navigatorTable A:link {
	color: #000099;
	text-decoration: none;
}

TABLE.navigatorTable A:hover {
	text-decoration: underline;
}

TABLE.navigatorTable SPAN {
	color: #000099;
	font-weight: bold;
	text-decoration: none;
}

.firstButton, .previousButton, .nextButton, .lastButton {
border:0px;
padding:2px;
width:20px;
height:20px;
}
.firstButton {
}
.previousButton {
}
.nextButton {
}
.lastButton {
}
