/* $Id$ */

.propertySheet { background-color:#FFFFFF; width:95%;margin-left: auto;margin-right: auto;}
.propertySheet .FieldNameClass, .propertySheet .FieldValueClass {background-color:#FFFFFF;padding:3px;vertical-align:middle;width:20%;}
.propertySheet .FieldNameClass {font-size:11px;font-weight: bold;}
.propertySheet .FieldValeClass A:link, .propertySheet .FieldValueClass A:hover {text-decoration:underline;color:#000000;};
