/* $Id$ */
.supportLinksTable {
	background-color: #FFFFFF;
	width:100%;
	padding:10px;
}

.supportLink {
	color: #000099;
	font-size:11px;
	text-decoration: none;
}

.labelText1 {
	font-size:10px;
}

.supportLinksSP {
	border-top: 1px dashed #000099;
}
