/* $Id$ */
/* tab */

/* Normal Horizontal Tab with Text Links */
/* plaintab */

.plaintab {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
    width:100%;
	font-size: 11px;
    font-weight: bold; 
}
	
ul.plaintab li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border-left: 1px solid #1966F4;
	border-right: 1px solid #1966F4;
	}

ul.plaintab li.notSelected a{
  float: left;
  color: #000099;
  padding: 4px 15px 2px 15px;
}

ul.plaintab li.selected a{
  float: left;
  color: #FFFFFF;
  padding: 4px 15px 2px 15px;
}

ul.plaintab li.notSelected  {
	float: left;
	color: #000099;
 	background-image: url(../images/nonSelected.gif);
 	background-repeat: repeat-x;
}
ul.plaintab li.selected {
	float: left;
	color: #FFFFFF;
	background-image: url(../images/selected.gif);
	background-repeat: repeat-x;
}

ul.plaintab a:hover {
	text-decoration: underline;
}


/*Tab with Images alone*/
ul.icontab {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #fff left center;
	border: none;
	font-size: 10px;
	letter-spacing: 0.05em;
}
	
ul.icontab li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border-right: 0px solid #336699;
	border-left: 0px solid #336699;
	border-bottom: 0px solid #336699;
	background-color: #B6C7E5;
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #829AB1;
}

ul.icontab a.notselected {
	float: left;
	text-decoration: none;
	color: #000000;
}

ul.icontab a.selected {
	float: left;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #336699;
}

ul.icontab a:hover {
	text-decoration: underline;
}

/*Vertically arranged Tabs*/
ul.verticaltab{
		margin: 0;  
		padding: 0;
		width: 100%;
		font-size: 11px;
		display: inline;
		letter-spacing: 0.05em;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #FFFFFF;
}

ul.verticaltab li {
        padding: 0px 0px 0px 0px;
        margin: 0;
        list-style: none;
		background-color: #FFFFFF;
}

ul.verticaltab li a{ 
		display: block;
		padding: 4px 10px 4px 10px;
		color: #1966F4;
    text-decoration: underline;
}

ul.verticaltab li.selected a {
		text-decoration: none;
                background-color: #E5E5E5;;
                text-decoration: underline;
				
	}

ul.verticaltab li a:hover {
		text-decoration: underline;
		background-color: #DEE6FF;

	}

/* List View */

.listViews {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
    width:100%;
	font-size: 11px;
    font-weight: bold; 
}
	
ul.listViews li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	}

ul.listViews li p{
	text-align: center;
	line-height: 30px;
}

ul.listViews a{
  float: left;
  color: #000099;
  padding: 4px 15px 2px 15px;
}
ul.listViews a.notSelected  {
	float: left;
	padding: 4px 15px 2px 15px;
	color: #000099;
 	background-repeat: repeat-x;
}
ul.listViews a.selected {
	float: left;
	padding: 4px 15px 2px 15px;
	color: #FFFFFF;
	background-repeat: repeat-x;
}

ul.listViews a:hover {
	text-decoration: underline;
}

.cvtab .selected { font-weight:bold}