/* $Id$ */

/*************************  First Level Table Styles **************************/


.tableComponent, .columnChooser {
	color: #000099;
	padding: 0px;
	width: 100%;	
}

.tableHeader, .sortedTableHeader {
	font-size: 11px;
	font-weight: bold;
	background-color: #E5E5E5;
	padding: 2px;
	color: #000099;
	text-align: left;
  white-space: nowrap;
}

.tableSpotSearch{
	width: 100px;
}
.paraSpotSearch{
	line-height:0px;
	text-align:center;
	height:15px;
}
.colSpotSearch{
	width:135px;
	height:20px;
	valign='top';
	cellspacing='0';
	cellpadding='0';
}
.cellSpotSearch{
	width:135px;
	height:20px;
}
.spanSpotSearch{
	font-family:arial;
	font-size:11px;
	color:#828282;
	font-weight:normal;
	position:relative;
	top:2px;
	right:122px;
	width:55px;
	height:14px";
}

.tableComponent A:link, .tableComponent A:visited, .columnChooser A:link, .columnChooser A:visited {
	font-weight: bold;
	color: #000099;
	text-align: left;
	text-decoration:none;
}

.sortedTableHeader A:link, .sortedTableHeader A:visited {
	text-decoration:none;
}

.tableHeader A:hover {
	text-decoration: underline;
}

.evenRow {
	background-color: #FFFFFF;
	padding: 3px;
	white-space: nowrap;
}

.oddRow {
	background-color: #F5F5F5;
	padding: 3px;
	white-space: nowrap;
}
.emptyRowMsg  {
	background-color: #FFFFFF;
}
.columnChooser {
	font-weight: bold;
	width:100%;
	height: 20px;
}

.sortButtonASC, .sortButtonDESC, .tableSearchButton, .columnEditButton , .tableSearchGoButton, .tableSearchCloseButton {
	vertical-align: middle;
	background:transparent;
	border: 0px solid #000000;
	width: 16px;
	height: 16px;
	margin: 0px;
	padding: 0px;
	cursor: hand;
	cursor: pointer;
}

.sortedTableHeader .sortButtonASC {
	background: url(../images/sortAsc.gif) no-repeat center;
}

.sortedTableHeader .sortButtonDESC {
	background: url(../images/sortDesc.gif) no-repeat center;
}

.columnEditButton {
	background: url(../images/columnedit.gif) no-repeat center;
}

.tableSearchButton{
	background: url(../images/search.gif) no-repeat center;
}

.tableSearchCloseButton{
	background: url(../images/search.gif) no-repeat center;
}

.tableSearchGoButton{
	background: url(../images/go.gif) no-repeat center;
}

.msgContent{
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding:2px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.hideMessageButton{
	background: url(../images/foldup.gif) no-repeat center;
}

/** Sorting Image classes to be added **/


.tableLayout {
	width: 100%;
	padding: 4px;
	border-spacing:5px;	
	border: 0px;
}


.propertySheetTable {
	background-color: #FFFFFF;
	width:100%;
	padding:0px;
}

.propertySheetTable .tableHeader{
	width:40%;
	padding:5px;
}

.LabelClass {
	text-align: center;
	background-color: #BFD2E3;
	font-weight: bold;
	font-size: 12px;
}

.FieldNameClass {
	background-color: #FFFFFF;
	height:25px;
}

.FieldNameHeaderDiv {
	background-color: #FFFFFF;
	font-size: 12px;
	float:left;
	margin-right:21px;
	display:inline;
}

.FieldNameImageDiv {
	background-repeat: no-repeat;
	display:inline;
	float:right;
	width:20px;
}

.FieldValueClass {
	background-color: #FFFFFF;
	height:25px;
}

.dummyRowClass {
	background-color: #FFFFFF;
}

.TextClass {
	padding-left:15px;
}
.FormElementClass, .ButtonPanelClass, .EmptyFormCell {
	background-color: #FFFFFF;
}

.ButtonPanelClass {
	text-align:center;
}


.ButtonPanelClass Input {
	background-color:#CCDEEB;
}

.ModeSwitcher {
	width: 95%;
	text-align: right;
}

.formActionResult {
}

.customAlert , .completeMessage{
	padding:0px;
	background: #FEFDD2;
	border:1px solid #D9D48C;
}

.caClose{
	vertical-align: top;
}

.caCloseButton {
	background-image: url(../images/closeBtn.gif);
	background-repeat: no-repeat;
	border-top: 0px solid #C7E6FF;
	border-left: 0px solid #C7E6FF;
	border-right: 0px solid #4DA9F2;
	border-bottom: 0px solid #4DA9F2;			
	height: 13px;
	width: 13px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

/*Should be added to documentation*/
.tableMenu {
	width:100%;
}

.propertySheetTable .tableHeader, .propertySheet .tableHeader {
	text-align: right;
	border-bottom: 0px;
}

.propertySheet {
	border:0px;
	padding:0px;
	border-spacing:0px;
}

