/* $Id$ */
/* -------------------- Mickey Client - Theme BMW Styles -------------------- */

/*------------------Text Styles ----------------------------*/

.titleText {
	margin: 0px;
	padding: 0px;
	font: bold 13px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.subTitle {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

/* -------------------------- Drop Down Menus ------------------------------- */

.dropDownMenu {
	position:absolute;
	border: 1px solid #000099;
	background-color: #FFFFFF;
	padding: 5px 3px 5px 3px;
	z-index: 10;
}
.dropDownItem,.dropDownItemOver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	height: 20px;
	cursor: hand;
	cursor: pointer;
}
.dropDownItemOver {
	background-color: #000099;
	color: #FFFFFF;
}

/* -----------------view Related Styles ----------------------*/

.vwHeader {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px 0px 5px;
	padding: 0px;
	width: 100%;
}
.vwDesc {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px 5px 0px 70px;
	padding: 0px;
}
.vwLeftImg {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px 5px 10px;
	padding: 0px;
}
.outerDiv {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 10px;
	padding: 0px;

}

.vwToolbar{
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	background: #DBE3F7;
	/*margin-bottom: 5px;*/
	border-bottom: 1px solid #94A3C9;

}

.vwHead {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	padding-left: 5px;
	background: url(../images/vw_box_hdrBg.gif) repeat-x;
}

.lvItemTitle {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.lvItemDesc {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #2A568F;
	padding-left: 5px;
}

/* -------------- Toolbar Styles --------------*/

.layoutToolbar {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	background: #F5F5F5;
	border: 0px;
	vertical-align: middle;
	
}

.layoutToolbar td{
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #CCCCCC;
	padding: 2px;

}

.layoutToolbar a, .layoutToolbar a:active{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000099;
	text-decoration: none;
}

.layoutToolbar a:hover{
	text-decoration: underline;
}

/* ------------------------ Separator Styles --------------------------*/

.sepRight{
	border-right: 1px solid #CFD9E7;
	margin: 2px;
	padding: 1px 5px;
}

.sepLeft{
	margin: 2px;
	padding: 1px 5px;
	border-left: 1px solid #CFD9E7;

}
.sepMiddle{
	border-left: 1px solid #CFD9E7;
	margin: 2px;
	padding: 1px 5px;
}
.separator {
	color: #6F8DB9;
	font: 16px Arial, Helvetica, sans-serif;
}

/* ---------------------Form Elements ----------------------*/

.selectStyle, .listStyle {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	width: 130px;

}

.selectStyle1 {
	font: Bold 11px Verdana, Arial, Helvetica, sans-serif;
}

.listStyle {
	width: 100%;
	line-height: 18px;
	border: 1px solid #FFFFFF;
	background: #FFFFFF;
	font-size: 11px;
}

option{
	padding: 2px;
	margin: 2px;
}


/*Buttons*/
.moveUP, .moveDown, .removeBtn, .addBtn, .incrementWidth,.decrementWidth,.incrementHeight, .decrementHeight, .changeView, .changeView1, .btnStyle, .exitBtnStyle{
	border-top: 1px solid #E8E8E8;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #E8E8E8;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.moveUP{
	background: #E5E5E5 url(../images/moveUp.gif) no-repeat center center;
	height: 18px;
	width: 24px;
}

.moveDown {
	background: #E5E5E5 url(../images/moveDown.gif) no-repeat center center;
	height: 18px;
	width: 24px;
}
.removeBtn {
	background: #E5E5E5 url(../images/remove.gif) no-repeat left;
	height: 18px;
}
.addBtn {
	background: #E5E5E5 url(../images/next.gif) no-repeat right;
	height: 18px;
}
.incrementWidth,.decrementWidth,.incrementHeight, .decrementHeight{
	height: 16px;
	width: 16px;
}
.incrementWidth {
	background: #E5E5E5 url(../images/moveRight.gif) no-repeat center center;
}
.decrementWidth {
	background: #E5E5E5 url(../images/moveLeft.gif) no-repeat center center;
}
.incrementHeight {
	background: #E5E5E5 url(../images/moveDown.gif) no-repeat center center;
}
.decrementHeight {
	background: #E5E5E5 url(../images/moveUp.gif) no-repeat center center;
}

.changeView {
	background: #E5E5E5 url(../images/pulldown_big.gif) no-repeat center right;
}

.incrementWidthDisabled, .decrementWidthDisabled, .incrementHeightDisabled, .decrementHeightDisabled {
	border-top: 1px solid #F1F1E8;
	border-right: 1px solid #B9B9A8;
	border-bottom: 1px solid #B9B9A8;
	border-left: 1px solid #F1F1E8;
}

.incrementWidthDisabled {
	background: #E5E5E5 url(../images/moveRight_disabled.gif) no-repeat center center;
	height: 16px;
	width: 16px;
}
.decrementWidthDisabled {
	background: #E5E5E5 url(../images/moveLeft_disabled.gif) no-repeat center center;
	height: 16px;
	width: 16px;
}

.incrementHeightDisabled {
	background: #E5E5E5 url(../images/moveDown_disabled.gif) no-repeat center center;
	height: 16px;
	width: 16px;
}
.decrementHeightDisabled {
	background: #E5E5E5 url(../images/moveUp_disabled.gif) no-repeat center center;
	height: 16px;
	width: 16px;
}


.btnStyle, .exitBtnStyle {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	height: 25px;
	background: #E5E5E5;

}
.exitBtnStyle {
  width: 80;
}
.closeBtnStyle{
	background: #6F8DB9 url(../images/close_x.gif) no-repeat center;
	border-top: 1px solid #C2CDE0;
	border-right: 1px solid #2A568F;
	border-bottom: 1px solid #2A568F;
	border-left: 1px solid #C2CDE0;
	height: 13px;
	width: 12px;
}
.btnPanel {
	border-top: 1px solid #000099;
	text-align: center;

}
/* ------------------- Border Styles -------------------*/
.grid {
	border: 1px dashed #1966F4;
	background: #FFFFFF;
}

.tcEvenRow, .tcOddRow {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	padding-left: 10px;
	border-bottom: 1px solid #E5E5E5;
}

.tcEvenRow {
	background: #FFFFFF;
}

.tcOddRow {
	background: #FFFFFF;
}

.tableBorder {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #2A568F;
}


.alignRight {
	background: right;
	float: right;
	text-align: right;
}

/*------------View related BG Styles -----------------*/

.tableView, .barGraphView, .pieChartView{
    height:100%;
}
.tableView{
	background: url(../images/vw_Table_Img.gif) no-repeat left top;
}
.barGraphView{
	background: url(../images/vw_bar_graph_Img.gif) no-repeat left bottom;
}
.pieChartView{
	background: url(../images/vw_pie_graph_Img.gif) no-repeat left bottom;
}

/*-------------------- DIV Styles --------------------------------*/

.divStyle, .divRight, .divLeft {
	display:inline;
	position:relative;
}

.divRight {
	margin-left:25%;
}

/* ----------------- Help (or)	Interface Text related Styles --------------------*/

.infoImg {
	background: url(../images/info.png) no-repeat center;
	height: 32px;
	width: 32px;
	padding: 5px;
}

.hlpText{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
 	color: #6B80B4;
}

/*--------------Miscellaneous Styles ----------------------*/
.hide {
	display: none;
}

/*---------------------Mickey Client - Theme BMW Styles Ends here-------------------------*/
/*---------------- Copyright - 2004, Mickey Client - All Rights Reserved------------------------*/
.dummyGrid {
	border: 1px dashed #000000;
	background: #FFFFCC;
}

td.dummyGrid .changeView {
 background:#FFFFCC url(../images/pulldown_big.gif) no-repeat center right;
}
.vwTitleBar {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background: #1966F4;
	border: none;
	padding: 3px 5px;

}

#TabCustomization_CT .hideInput,#TabCustomization_CT .headerRow {
	display: none;
}

#GridCustomization_CT .hideInput,#GridCustomization_CT .headerRow {
	display: none;
}

#TableLayoutCustomization_CT .hideInput,#ListViewConfigurations_CT .alignSortedIndicators, #ListViewConfigurations_CT input {
	display: none;
}

.viewLayoutTitle {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	line-height: 25px;
}

.activeLayout {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background: #BBC4A4;
}

.activeLayoutCell {
	background: #F0F6E1;
	padding: 3px;
}

.activeLayoutCellDummy {
	background: #FFFFCC;
}


.futureLayout {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background: #BBC4A4;
}

.futureLayoutCell {
	background: #F0F6E1;
	padding: 3px;
}

.futureLayoutCellDummy {
	background: #FFFFCC ;
}

.layoutEditorToolbar {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	border-top: 1px solid #5e8205;
	background: #c6d897 ;
	border-bottom: 1px solid #5e8205;
}

.layoutEditorToolbar a, .layoutEditorToolbar a:active {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: underline;
}
.layoutEditorToolbar a:hover {
	text-decoration: none;
}

.layoutHeaderLink{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	background: #E5E5E5;
	line-height: 20px;
	text-align: right;
	color: #000000;
	text-decoration: underline;
}
