/* $Id$ */
.columnchooser {
	margin-top: 5px;
	width: 70%;
}
.bodyText, .titleText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
	
.titleText {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.bodyText {
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
}

.listStyle {
	width: 100%;
	height: 150px;
}
.moveUp, .moveDown, .add, .addAll, .removeColumn,.removeAll {
	height: 20px;
	width: 24px;
	border-top: 1px solid #E8E8E8;
	border-right: 1px solid #A4A4A4;
	border-bottom: 1px solid #A4A4A4;
	border-left: 1px solid #E8E8E8;
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	text-align: center;
}

.moveUp{
	background: #F0F6E1 url(../images/columnchooser/moveUp.gif) no-repeat center center;
}

.moveDown {
	background: #F7F7EC url(../images/columnchooser/moveDown.gif) no-repeat center center;
}

.add {
	background: #F7F7EC url(../images/columnchooser/add.gif) no-repeat center center;
}

.addAll {
	background: #F7F7EC url(../images/columnchooser/addAll.gif) no-repeat center center;
}

.removeColumn {
	background: #F7F7EC url(../images/columnchooser/remove.gif) no-repeat center center;
}

.removeAll {
	background: #F7F7EC url(../images/columnchooser/removeAll.gif) no-repeat center center;
}

.ccListTable {
	width: 150px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collpase;
	border: 1px solid #CCCC99;
	background-color: #FBFBF4;
}

.ccListHeader {
	height: 22px;
	background-color: #006666;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
}

.ccSelected {
	padding: 2px;
	background-color: #FFCC66;
	cursor: default;
	white-space: nowrap;
}

.ccNotSelected {
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.ccListTableInline {
	width: 100%;
	height: 100%;
	vertical-align: top;
}

.ccMovePanel {
	border-left: 1px solid #E8E6DD;
}

.ccBtnPanel {
	padding-top: 5px;
	border-top: 1px solid #E8E6DD;
	white-space: nowrap;
	text-align: center;
}