/* $Id$ */
body {
	color: #000000;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

a {
	text-decoration:none;
}

a:hover {	
	text-decoration:underline;
}

.layoutArea {
	border-bottom: 1px solid #D3D3AB;
}

.sideBarHdr, .toolbarBg, .txtBox, .navBar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.sideBarHdr {
	font-size: 11px;
	font-weight: bold;
	border-top: 1px solid #FBFBF4;
	border-bottom: 1px solid #D3D3AB;
	background-color: #E9E9D1;
	height: 24px;
	padding-left: 6px;
	white-space: nowrap;
}

.sideBarHdr A:hover {
	text-decoration: underline;
}

.sideBarHdrOn {
	font-size: 11px;
	font-weight: bold;
	background-color: #CCCC99;
	border-bottom:1px solid #000000;
	height: 24px;
	padding-left: 4px;
}

.sideBarHdr a{
	text-decoration: none;
	color: #000000;
}

.sideBarHdr a:hover{
	text-decoration: underline;
}

.toolbarBg {
	font-size: 10px;
	font-weight: normal;
	background-color: #F3F3E9;
	height: 20px;
	padding: 5px;
}

.txtBox {
	font-size: 10px;
	font-weight: normal;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;	
}

.navBar {
	background-color: #FFFFFF;
	text-align: right;
	padding: 3px;
}

.sep {
	color: #6D98B5;
}

.smTopLeft, .smTopRight {
	height: 14px;
	width: 2px;
}
.smTopLeft {
	border-top: 1px solid #818DB2;
	border-left: 1px solid #818DB2;
	border-bottom: 1px solid #818DB2;
	background-color: #C9CEDE;
}
.smTopRight {
	border-top: 1px solid #818DB2;
	border-right: 1px solid #818DB2;
	border-bottom: 1px solid #818DB2;
	background-color: #C9CEDE;
}
.smTopBg {
	padding: 2px;
	height: 14px;
	border-top: 1px solid #818DB2;
	border-bottom: 1px solid #818DB2;
	background-color: #C9CEDE;
	vertical-align: middle;
	width: 100%;
}
.smDragButton, .wkDragButton, .wkDragPipe {
	padding: 0px;
	margin: 3px;
	width: 10px;
	height: 14px;
	background: url(../images/customization/dragArea.gif) transparent no-repeat;
	border: 0px;
	cursor: move;
}

.smContent {
	height: 30px;
	padding: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border-left: 1px solid #818DB2;
	border-right: 1px solid #818DB2;
	border-bottom: 1px solid #818DB2;
	text-align: center;
}

.smContent#movableDivContent {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}

TABLE.viewSelected .smTopLeft, TABLE.viewSelected .smTopRight, TABLE.viewSelected .smTopBg {
	height: 14px;
	width: 2px;
	border: 0px;
	background-color: #EAEAD9;
}
TABLE.viewSelected .smTopBg {
	width: 100%;
}
TABLE.viewSelected .smContent {
	border: 1px solid #EAEAD9;
	color: #CCCCCC;
}
TABLE.viewSelected .smDragButton {
	background-image: url(../images/customization/dragDis.gif);
	cursor: default;
}

.CustomCPS {
	border-bottom: 1px solid #D3D3AB;
}

.CustomCPS .viewSelected, .CustomCPS .viewNotSelected {
	padding: 2px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 5px;
	margin-top: 8px;
	cursor: hand;
}

.CustomCPS .viewSelected{
	background-color: #EAEAD9;
	border: 1px solid #EAEAD9;
}

.CustomCPS .viewNotSelected{
	background-color: #C9CEDE;
	border: 1px solid #818DB2;
	cursor: move;
}

.CustomCPS .viewSelected .smContent {
	height: 22px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	border: 0px;
	text-align: left;
}

.CustomCPS .viewNotSelected .smContent {
	height: 22px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 0px;
	text-align: left;
}

.viewList {
	background-color: #FFFFFF;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #E6E4D9;	
}

.paneBg {
	background: url(../images/customization/paneBg.gif) repeat-y;
	width: 7px;
	padding-left: 1px;
}

.rightBg {
	background-color: #F3F3E9;
}

.notesBg {
	background-color: #FFFFFF;
}

.notesShadowBg {
	background-color: #BFD2E3;
}

.notesHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border: 1px solid #CCCCCC;
	background-color: #FFFFE8;
}
.notesContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	padding: 3px;
}

.wkTopLeft, .wkTopRight {
	height: 14px;
	width: 2px;
}

.wkTopLeft {
	border-top: 1px solid #7FB68C;
	border-left: 1px solid #7FB68C;
	border-bottom: 1px solid #7FB68C;
	background-color: #C8E1CE;
}

.wkTopRight {
	border-top: 1px solid #7FB68C;
	border-right: 1px solid #7FB68C;
	border-bottom: 1px solid #7FB68C;
	background-color: #C8E1CE;
}

.wkTopBg {
	border-top: 1px solid #7FB68C;
	border-bottom: 1px solid #7FB68C;
	background-color: #C8E1CE;
	width: 100%;
	height: 22px;
}

.wkContent {
	width: 100%;
	background-color: #FFFFFF;
	padding: 2px;
	cursor: move;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-left: 1px solid #7FB68C;
	border-right: 1px solid #7FB68C;
	border-bottom: 1px solid #7FB68C;

}

.lastDragged .wkContent {
	color: red;		
}

TABLE.vtabClass .wkContent {
	padding: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: move;	
}

TABLE.vtabClass .lastDragged .wkContent {
	color: red;
}

.lastDragged .wkContent { 
	color: red;
}

.tabClass {
	border: 1px solid #51A9F1;
	padding: 0px 8px 0px 8px;
}

.vtabClass {
	border: 1px solid #D9D48C;
	padding: 0px;
	background: #FFFFFF;
}

.closeLink {
	background-image: url(../images/customization/closeLink.gif);
	background-repeat: no-repeat;
	border-top: 0px solid #C7E6FF;
	border-left: 0px solid #C7E6FF;
	border-right: 0px solid #4DA9F2;
	border-bottom: 0px solid #4DA9F2;			
	height: 13px;
	width: 13px;
	vertical-align:middle;
	text-align: center;
	cursor:hand;
	cursor:pointer;
}

.closeButton, .resizeButton, .editButton {
	padding: 0px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	cursor: pointer;
}
.closeButton {
	height: 7px;
	width: 7px;
	margin: 3px;
	background: url(../images/customization/closeBtn.gif) transparent no-repeat;
}

.resizeButton {
	height: 13px;
	width: 13px;
	margin: 0px;
	background: url(../images/customization/resizeBtn.gif) no-repeat;
}

.editButton {
	background: url(../images/customization/editBtn.gif) no-repeat;
}


.resizeClose {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.resizeClose:hover {
	text-decoration: underline;
}

.resizeView {
	border: 1px solid #AAAAAA;
	background-color: #E9E9E9;
	color: #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

.expandLeft, .expandRight, .expandTop, .expandBottom, .expandLeftDis, .expandRightDis, .expandTopDis, .expandBottomDis {
	border: 0px;
	height: 17px;
	width: 17px;
	margin: 2px;
	padding: 0px;
	vertical-align: middle;
	cursor: hand;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

.expandLeft {
	background-image: url(../images/customization/expLeft.png);
}
.expandRight {
	background-image: url(../images/customization/expRight.png);
}
.expandTop {
	background-image: url(../images/customization/expUp.png);
}
.expandBottom {
	background-image: url(../images/customization/expDown.png);
}

.expandLeftDis {
	background-image: url(../images/customization/expLeftDis.png);
}
.expandRightDis {
	background-image: url(../images/customization/expRightDis.png);
}
.expandTopDis {
	background-image: url(../images/customization/expUpDis.png);
}
.expandBottomDis {
	background-image: url(../images/customization/expDownDis.png);
}

.emptyCell {
	padding: 2px;
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background: #FEFDD2;
	border: 1px solid #D9D48C;
}

.emptyCellHover {
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	color : #000000;
	background: #FBF997;
	border: 1px solid #D9D48C;
}

.usageText {
	background: #F1F1F1;
	width:95%;
	text-align:center;
	font : italic 10px Verdana, Arial, Helvetica, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
}

.usageTable {
	width:60%;
	padding: 5px;
}

.psTableLayout {
	vertical-align:top;
}
.psTableLayout .wkContent {
	text-align:center;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: move;
}

.customLayout {width:100%; border: 1px dashed #FF0000;border-spacing:0px;padding:0px;}

.psTableLayout .customLayout {border: 1px dashed #FF0000;border-spacing:0px;padding:0px;}

.psTableLayout .horIndicator, .psTableLayout .verIndicator {
	display:none;
}
.psContent {
	padding: 2px;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
.LabelCreator .viewSelected{
	padding: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: hand;
	cursor: pointer;

}

/* to be added in opmanager */

.SelectElement{
	background-image:url(../images/select.png);
	background-repeat: no-repeat;
	height: 30px;
	padding:0px;
}
.InputElement{
	background-image:url(../images/input.png);
	background-repeat: no-repeat;
	height: 30px;
	padding: 0px;
}

/*************** Documented Stuff ************/

.editAreaBorder {border-spacing:0px;border-collapse:collapse;}

.editAreaMenuBar {background-color: #F0F0E1;border-top:1px solid #E6E4D9;border-bottom:1px solid #E6E4D9;height:20px;white-space:nowrap;padding-left:5px;font-weight:bold;}

td.editAreaMenuBar a {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

td.editAreaMenuBar a:hover {text-decoration:underline;}

.undoDisabled, .redoDisabled, .undo, .redo, .expand, .collapse, .showSideBar, .hideSideBar, .warning {
	background: transparent;
	background-repeat: no-repeat;
	padding: 0px;
	border: 0px;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	cursor: pointer;
}

.undoDisabled, .redoDisabled, .undo, .redo {
	margin-left: 2px;
	margin-right: 2px;
	width: 12px;
	height: 7px;
}

td.editAreaMenuBar SPAN#undoDisable, td.editAreaMenuBar SPAN#redoDisable {
	font-size: 10px;
	font-weight: normal;
	color: #999999;
}

.undoDisabled {background-image: url(../images/customization/undo_disabled.gif);cursor:default;}

.redoDisabled {background-image: url(../images/customization/redo_disabled.gif);cursor:default;}

.redo {background-image: url(../images/customization/redo.gif);}

.undo {background-image: url(../images/customization/undo.gif);}

.editAreaBg {background-image: url(../images/customization/editBg.gif);background-repeat: repeat;padding: 10px;height:300px;vertical-align:top;}

.showSideBar, .hideSideBar{width:10px;height:86px}

.showSideBar {background-image: url(../images/customization/showButton.gif);}

.hideSideBar {background-image: url(../images/customization/hideButton.gif);}

.expand {background-image: url(../images/customization/expand.gif);}

.collapse {background-image: url(../images/customization/collapse.gif);}

.warning {background-image: url(../images/warning_ico.gif);cursor:default;}

.showSideBar, .hideSideBar {
	width: 4px;
	height: 115px;
	padding: 0px;
}

.collapse, .expand {
	height: 10px;
	width: 10px;
}

.wkContent1, .wkContentEdit {
	padding: 2px;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	cursor: move;
}

.wkContent1 {
	white-space: nowrap;
}

.wkContent1 SPAN {
	margin-left: 2px;
	margin-right: 5px;
}

.wkContentEdit {
	text-align: right;
	white-space: nowrap; 
}

.PSFieldNameStart {
	background-color: #C1E0E9;
	border-top: 1px solid #72B2C5;
	border-left: 1px solid #72B2C5;
	border-bottom: 1px solid #72B2C5;
}
.PSFieldNameEnd {
	background-color: #C1E0E9;
	border-top: 1px solid #72B2C5;
	border-right: 1px solid #72B2C5;
	border-bottom: 1px solid #72B2C5;
}

.PSFieldValueStart {
	background-color: #C8E1CE;
	border-top: 1px solid #7FB68C;
	border-left: 1px solid #7FB68C;
	border-bottom: 1px solid #7FB68C;
}
.PSFieldValueEnd {
	background-color: #C8E1CE;
	border-top: 1px solid #7FB68C;
	border-right: 1px solid #7FB68C;
	border-bottom: 1px solid #7FB68C;
}

.PSText {
	background-color: #CCCCCC;
}

.PSButtonPanelStart {
	background-color: #D4D0C8;
	border-top: 1px solid #B4AEA0;
	border-left: 1px solid #B4AEA0;
	border-bottom: 1px solid #B4AEA0;	
}
.PSButtonPanelEnd {
	background-color: #D4D0C8;
	border-top: 1px solid #B4AEA0;
	border-right: 1px solid #B4AEA0;
	border-bottom: 1px solid #B4AEA0;
}

.PSLabelStart {
	background-color: #EBD0D0;
	border-top: 1px solid #BF8888;
	border-left: 1px solid #BF8888;
	border-bottom: 1px solid #BF8888;	
}
.PSLabelEnd {
	background-color: #EBD0D0;
	border-top: 1px solid #BF8888;
	border-right: 1px solid #BF8888;
	border-bottom: 1px solid #BF8888;
}

.emptyCellHover, .emptyCellEndHover {
	background: #FBF997;
	border: 1px solid #D9D48C;
}
