/* $Id$ */

/************ General Styles ************/


		/******* Added by Suresh C Nair *********/

a:hover {
	      text-decoration: none;
}

a:link {
	      text-decoration: none;
		        color: #FFFFFF;
}
		/**************************************/
body {
	padding: 0px;
	margin: 0px;
	background: #FFFFFF;
}

img {
	border: 0px;
	vertical-align: middle;
	margin: 0px;
}

/************ Product Band Styles ************/
.productLogo, .productTabs {
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
    background-image: url(../images/topBg.gif);
	background-repeat: repeat;
}
.productSearch {
	background: #CCCC99;
/*	text-align: right; */
	padding: 2px;
	border-bottom: 1px solid #999999;
}

.productSearch A, .productSearch SPAN {
	color: #333333;
}

.productTabs {
	vertical-align: bottom;
}

.productLogo {
	width: 100%;
	padding: 0px;
}

.topLinks {
	height: 50px;
	font-size: 11px;
	color: #FFFFFF;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

.topLinks a:link, .topLinks a:visited {
  	padding: 2px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Verdana, Helvetica, sans-serif;
}

.topLinks a:hover {
	text-decoration: underline;
}

/************ Content Area Styles ************/
.dacTable {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}

.navigationBar {
	background: #FBFBF4;
	border-right: 1px solid #E6E4D9 ;
	height: 100%;
}

.actionBar {
	background: #F7F7EC;
	border-left: 1px solid #CCCCCC;
	height: 100%;
}

.dacCell {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
}
/***** Added By Suresh C Nair ******/

.border{
	background-color: #006666;
}

/* -------------------------- Custom View Related -------------------- */

.cvCriteriaEditRmvBtn {
	margin: 0px;
	width: 8px;
	height: 9px;
	border: 0px;
	cursor: hand;
	cursor: pointer;
	background: transparent no-repeat;
	background-image: url(../images/delete.gif);
}

.txtField { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	width: 100%;
	border: 1px solid #888888;
	padding:1px;
} 
