/* $Id$ */
#localizeHint {
	width: 100%;
	border-top: 1px solid #7E7E7E;
	border-bottom: 1px solid #333;
	background-color: #595959;
	padding-top: 3px;
	font-family: Trebuchet MS;
}

#localizeHint TABLE {
	border: 1px solid #4A4A4A;
	background-color: #404040;
}

#localizeHint TABLE TD {
	padding: 1px;
}

#localizeHint TABLE TD TABLE {
	border: 1px solid #666;
	background-color: #333;
}

#localizeHint .hint, #localizeHint .step {
	padding: 3px 5px 2px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #00C4C4;
	white-space: nowrap;
}

#localizeHint .step {
	font-weight: normal;
	color: #6DBE96;
}

.localizeMsg {
	margin: 1px;
	color: #000;
	cursor: default;
	background-color: #FFFF00;
}

.localizedMsg {
	margin: 1px;
	color: #000;
	cursor: default;
	background-color:#FF9900 ;
}



#localizeLayer {
	position: absolute;
	display: none;
}

#localizeLayer .boxTL {
	background: url(../images/box/caTopLeft.gif) no-repeat right;
	height: 20px;
	width: 7px;
}

#localizeLayer .boxTC {
	background: url(../images/box/caTopCenter.gif) repeat-x left;
	width: 250px;
	height: 20px;
}

#localizeLayer .boxTR {
	background: url(../images/box/caTopRight.gif) no-repeat left;
	height: 20px;
	width: 6px;
}

#localizeLayer .closeButton {
	border: 0px;
	background: url(../images/box/closeBtn.gif) no-repeat;
	height: 13px;
	width: 13px;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	cursor: pointer;
}

#localizeLayer .boxML {
	background: url(../images/box/caMiddleLeft.gif) repeat-y right;
}

#localizeLayer .boxContent {
	background: #FFF0F0;
}

#localizeLayer TD {
	vertical-align: top;
	padding: 4px 4px;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #000;
}

#localizeLayer .heading {
	padding-top: 0px;
	border-bottom: 1px solid #757575;
	font-weight: bold;
	font-size: 16px;
}

#localizeLayer #englishPhrase {
	font-weight: bold;
}

#localizeLayer .boxMR {
	background: url(../images/box/caMiddleRight.gif) repeat-y left;
	width: 7px;
}

#localizeLayer .boxBL {
	background: url(../images/box/caBottomLeft.gif) no-repeat right;
	height: 8px;
	width: 7px;
}

#localizeLayer .boxBC {
	background: url(../images/box/caBottomCenter.gif) repeat-x left;
	height:8px;
}

#localizeLayer .boxBR {
	background: url(../images/box/caBottomRight.gif) no-repeat left;
	height: 8px;
	width: 7px;
}
