/* $Id$ */
.navigatorTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	width: 100%;
	padding: 5px;
	background-color: #EDF4F5;
	border-top: 1px solid #E6E4D9; 
	align: left;
}

.NavigationBox {
}

.navigatorDetailsColumn{
	vertical-align: middle; 
	align: left; 
}

.navigatorLinksColumn{
	vertical-align: middle; 
	text-align: left;
	align: left; 
}

.navigatorRangeColumn{
	text-align: right; 
	vertical-align: middle; 
	align: left; 
}

TABLE.navigatorTable A:link {
	color: #000000;
	text-decoration: none;
}

TABLE.navigatorTable A:hover {
	text-decoration: underline;
}

TABLE.navigatorTable SPAN {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}


TABLE.navigatorTable A.navigate_icon:hover{
	text-decoration: none;
	}

.firstButton, .previousButton, .nextButton, .lastButton ,.first_disabled , .next_disabled , .previous_disabled , .last_disabled {
	border: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;



}
TABLE.navigatorTable span.firstButton
{
 background-image: url(../images/navigator/first_link.png);

}
TABLE.navigatorTable span.previousButton
{
	background-image: url(../images/navigator/previous_link.png);

}
TABLE.navigatorTable span.nextButton
{
	background-image: url(../images/navigator/next_link.png);
}
TABLE.navigatorTable span.lastButton
{
	background-image: url(../images/navigator/last_link.png);
}
.first_disabled {
	background-image: url(../images/navigator/first_link.png);
		opacity : 0.3;
	}
.next_disabled {
	background-image: url(../images/navigator/next_link.png);
		opacity : 0.3;
	}
.previous_disabled{
	background-image: url(../images/navigator/previous_link.png);
	opacity : 0.3;
	}
.last_disabled{
	background-image: url(../images/navigator/last_link.png);
	opacity : 0.3;
	}
