/* $Id$ */

/************ Dialog Box Styles ***********/
.TooltipBox {
	border: 1px solid #666666;	
}

.TooltipBox .boxHeader, .TooltipBox .boxCtrlButtonPane {
	height: 25px;
	background-color: #FFCC99;
}

.TooltipBox .boxHeader {
    background-color: #FFCC99;
	font: bold 11px Verdana, Arial, Helvetica, Sans-serif;	
}

.drag {
	padding-left: 20px;
	background: url(../images/customization/dragArea.gif) no-repeat 5px 5px;
	cursor: move;
}

.TooltipBox .boxCtrlButtonPane {
	text-align: right;
}

.TooltipBox .minButton, .TooltipBox .maxButton {
	display: none;
}

.TooltipBox .closeButton {
	width: 8px;
	height: 7px;
	background: url(../images/dialogClose.gif) no-repeat right;
	border: none;
	cursor: pointer;
	cursor: hand;
}

.TooltipBox .boxTL {
	width: 7px;
	height: 25px;
	background-color: #FFCC99;
}

.TooltipBox .boxTR {
	width: 7px;
	height: 25px;
	background-color: #FFCC99;
}

.TooltipBox .boxML {
	border-left: 1px solid #666666;
	background: #FFFFFF;
}

.TooltipBox .boxContent {
	background: #FFFFCC;
	vertical-align: top;
	text-align: left;
}

.TooltipBox .boxMR {
	border-right: 1px solid #666666;
	background: #FFFFFF;
}

.TooltipBox .boxBL {
	background: #FFFFCC;	
	border-bottom: 1px solid #666666;	
	border-left: 1px solid #666666;		
}

.TooltipBox .boxBC {
	background: #FFFFCC;
	border-bottom: 1px solid #666666;	
}

.TooltipBox .boxBR {
	background: #FFFFCC;	
	border-bottom: 1px solid #666666;	
	border-right: 1px solid #666666;		
}

.freezeLayer {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: #FFF; 
	filter: Alpha(opacity = 65);
	-moz-opacity: 0.65;
	z-index: 20;
}

.hide {
	display: none;
}

.MenuPopupTooltipBox {
	background: #FFFFFF;	
	border: 1px solid #666666;
	padding: 2px;
}

.MenuPopupTooltipBox a{
	display: block;
	padding: 2px;	
	width: 100%;
}


/**** css styles for form hints ****/
.focushint {
background:#FFFFCC;
border:1px solid #CC9933;
display:none;
padding:10px 12px;
width:200px;
margin-top:-4px;
}

.hint {
background-color:#FFFFCC;
border:1px solid #CC9933;
position:absolute;
z-index:100;
}

.tip {
cursor:help;
}

.formInfo a:hover {
color:#660000;
text-decoration:none;
}
.formInfo a, .formInfo a:active, forminfo a:visited {
background-color:#FF0000;
color:#FFFFFF;
font-size:1.3em;
font-weight:bold;
margin-left:5px;
padding:1px 2px;
text-decoration:none;
}

